### 16-10-25

### Replacing values in a data

In [67]:
import pandas as pd 
data1 = pd.read_csv(
    r"data\product_sales.csv"
)
data1

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
0,2,Email,2e72d641-95ac-497b-bbf8-4861764a7097,10,NaN,0,24,Arizona
1,6,Email + Call,3998a98d-70f5-44f7-942e-789bb8ad2fe7,15,225.47,1,28,Kansas
2,5,Call,d1de9884-8059-4065-b10f-86eef57e4a44,11,52.55,6,26,Wisconsin
3,4,Email,78aa75a4-ffeb-4817-b1d0-2f030783c5d7,11,NaN,3,25,Indiana
4,3,Email,10e6d446-10a5-42e5-8210-1b5438f70922,9,90.49,0,28,Illinois
...,...,...,...,...,...,...,...,...
14995,4,Call,17267b41-d048-4346-8b90-7f787690a836,10,50.82,0,22,Pennsylvania
14996,5,Call,09e10d6f-4508-4b27-895e-4db11ce8302b,10,52.33,1,27,Kansas
14997,1,Call,839653cb-68c9-48cb-a097-0a5a3b2b298b,7,34.87,4,22,West Virginia
14998,6,Call,e4dad70a-b23b-407c-8bd3-e32ea00fae17,13,64.90,2,27,New Jersey
14999,5,Email + Call,4e077235-7c17-4054-9997-7a890336a214,13,NaN,4,25,Illinois

In [5]:
# checking the unique content inside sales method 
# method1
data1["sales_method"].unique()

array(['Email', 'Email + Call', 'Call', 'em + call', 'email'],
      dtype=object)

In [7]:
# method2
data1["sales_method"].value_counts()

sales_method
Email           7456
Call            4962
Email + Call    2549
em + call         23
email             10
Name: count, dtype: int64

In [10]:
# Reolacement 
# To match and replace the entire content 
data1["sales_method"] = data1["sales_method"].replace(
    {'em + call':'Email + Call',
     'email':"Email"}
)
# check
data1["sales_method"].unique()

array(['Email', 'Email + Call', 'Call'], dtype=object)

In [ ]:
# replacing with regular expression 
data1.replace(r"\d","***",regex=True)

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
0,2,Email,***e******d*********-******ac-*********b-bbf**...,10,NaN,0,24,Arizona
1,6,Email + Call,************a******d-******f***-******f***-***...,15,225.47,1,28,Kansas
2,5,Call,d***de************-************-************-b...,11,52.55,6,26,Wisconsin
3,4,Email,******aa******a***-ffeb-************-b***d***-...,11,NaN,3,25,Indiana
4,3,Email,******e***d*********-******a***-******e***-***...,9,90.49,0,28,Illinois
...,...,...,...,...,...,...,...,...
14995,4,Call,***************b******-d*********-************...,10,50.82,0,22,Pennsylvania
14996,5,Call,******e******d***f-************-***b******-***...,10,52.33,1,27,Kansas
14997,1,Call,******************cb-******c***-******cb-a****...,7,34.87,4,22,West Virginia
14998,6,Call,e***dad******a-b******b-*********c-***bd***-e*...,13,64.90,2,27,New Jersey
14999,5,Email + Call,***e******************-***c******-************...,13,NaN,4,25,Illinois

In [19]:
# To match and replace substring use str accessor

data1["sales_method"].replace({"mail":"***"}) # will not work

data1["sales_method"].str.replace("mail","***")

0               E***
1        E*** + Call
2               Call
3               E***
4               E***
            ...
14995           Call
14996           Call
14997           Call
14998           Call
14999    E*** + Call
Name: sales_method, Length: 15000, dtype: object

In [20]:
# Checking datatye 
data1.dtypes

week                   int64
sales_method          object
customer_id           object
nb_sold                int64
revenue              float64
years_as_customer      int64
nb_site_visits         int64
state                 object
dtype: object

In [ ]:
# selecting datatype 
data1.select_dtypes(int) # show only column with int data type

       week  nb_sold  years_as_customer  nb_site_visits
0         2       10                  0              24
1         6       15                  1              28
2         5       11                  6              26
3         4       11                  3              25
4         3        9                  0              28
...     ...      ...                ...             ...
14995     4       10                  0              22
14996     5       10                  1              27
14997     1        7                  4              22
14998     6       13                  2              27
14999     5       13                  4              25

[15000 rows x 4 columns]

In [ ]:
# selecting datatype 
data1.select_dtypes('object') # show only column with str/object

       sales_method                           customer_id          state
0             Email  2e72d641-95ac-497b-bbf8-4861764a7097        Arizona
1      Email + Call  3998a98d-70f5-44f7-942e-789bb8ad2fe7         Kansas
2              Call  d1de9884-8059-4065-b10f-86eef57e4a44      Wisconsin
3             Email  78aa75a4-ffeb-4817-b1d0-2f030783c5d7        Indiana
4             Email  10e6d446-10a5-42e5-8210-1b5438f70922       Illinois
...             ...                                   ...            ...
14995          Call  17267b41-d048-4346-8b90-7f787690a836   Pennsylvania
14996          Call  09e10d6f-4508-4b27-895e-4db11ce8302b         Kansas
14997          Call  839653cb-68c9-48cb-a097-0a5a3b2b298b  West Virginia
14998          Call  e4dad70a-b23b-407c-8bd3-e32ea00fae17     New Jersey
14999  Email + Call  4e077235-7c17-4054-9997-7a890336a214       Illinois

[15000 rows x 3 columns]

In [ ]:
# selecting datatype 
data1.select_dtypes('float') # show only column with float

       revenue
0          NaN
1       225.47
2        52.55
3          NaN
4        90.49
...        ...
14995    50.82
14996    52.33
14997    34.87
14998    64.90
14999      NaN

[15000 rows x 1 columns]

In [68]:
# changing datatype 
data1.astype({"week":float})
data1["nb_sold"] = data1["nb_sold"].astype(float)
data1
data1.dtypes

data1

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
0,2,Email,2e72d641-95ac-497b-bbf8-4861764a7097,10.0,NaN,0,24,Arizona
1,6,Email + Call,3998a98d-70f5-44f7-942e-789bb8ad2fe7,15.0,225.47,1,28,Kansas
2,5,Call,d1de9884-8059-4065-b10f-86eef57e4a44,11.0,52.55,6,26,Wisconsin
3,4,Email,78aa75a4-ffeb-4817-b1d0-2f030783c5d7,11.0,NaN,3,25,Indiana
4,3,Email,10e6d446-10a5-42e5-8210-1b5438f70922,9.0,90.49,0,28,Illinois
...,...,...,...,...,...,...,...,...
14995,4,Call,17267b41-d048-4346-8b90-7f787690a836,10.0,50.82,0,22,Pennsylvania
14996,5,Call,09e10d6f-4508-4b27-895e-4db11ce8302b,10.0,52.33,1,27,Kansas
14997,1,Call,839653cb-68c9-48cb-a097-0a5a3b2b298b,7.0,34.87,4,22,West Virginia
14998,6,Call,e4dad70a-b23b-407c-8bd3-e32ea00fae17,13.0,64.90,2,27,New Jersey
14999,5,Email + Call,4e077235-7c17-4054-9997-7a890336a214,13.0,NaN,4,25,Illinois

In [44]:
ss = pd.read_clipboard()
ss

  numbers
0      22
1      16
2      rr
3      34
4      ty
5      43
6      34

In [45]:
ss["numbers"].astype(int)

ValueError: invalid literal for int() with base 10: 'rr'

In [46]:
ss["numbers"] = pd.to_numeric(ss["numbers"],errors="coerce")

### dealing with missing values

In [49]:
plane = pd.read_csv(r"data\plane_new.csv")
plane
# checking the total number of missing values in a data 
print(plane.isnull().sum())
print(plane.shape)

Airline            427
Date_of_Journey    322
Source             187
Destination        347
Route              256
Duration           214
Total_Stops        212
Additional_Info    589
Price              616
dtype: int64
(10660, 9)

In [54]:
# Removing missing values 
# note that If you remove mising values(NaN), you're removing the entire row

plane.dropna() # to remove all from all column
plane.dropna(subset=["Date_of_Journey","Source"]) # specifying the col

,Airline,Date_of_Journey,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price
0,Jet Airways,09/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882.0
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218.0
2,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302.0
3,SpiceJet,24/06/2019,Kolkata,Banglore,CCU → BLR,2h 25m,non-stop,No info,3873.0
4,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,15h 30m,1 stop,In-flight meal not included,11087.0
...,...,...,...,...,...,...,...,...,...
10655,Air Asia,09/04/2019,Kolkata,Banglore,CCU → BLR,2h 30m,non-stop,No info,4107.0
10656,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,2h 35m,non-stop,No info,4145.0
10657,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,3h,non-stop,NaN,7229.0
10658,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,2h 40m,non-stop,No info,12648.0
10659,Air India,09/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,8h 20m,2 stops,No info,11753.0

In [57]:
# Masking the missing value (replacing the NaN)
plane.fillna(0).head(50)

,Airline,Date_of_Journey,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price
0,Jet Airways,09/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882.0
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218.0
2,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302.0
3,SpiceJet,24/06/2019,Kolkata,Banglore,CCU → BLR,2h 25m,non-stop,No info,3873.0
4,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,15h 30m,1 stop,In-flight meal not included,11087.0
5,Jet Airways,01/03/2019,Banglore,New Delhi,BLR → BOM → DEL,21h 5m,1 stop,No info,22270.0
6,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,25h 30m,1 stop,In-flight meal not included,11087.0
7,Multiple carriers,27/05/2019,Delhi,Cochin,DEL → BOM → COK,7h 50m,1 stop,No info,8625.0
8,Air India,01/06/2019,Delhi,Cochin,DEL → BLR → COK,13h 15m,1 stop,No info,8907.0
9,IndiGo,18/04/2019,Kolkata,Banglore,CCU → BLR,2h 35m,non-stop,No info,4174.0
10,Air India,24/06/2019,Chennai,Kolkata,MAA → CCU,2h 15m,non-stop,No info,4667.0
11,Jet Airways,09/05/2019,Kolkata,Banglore,CCU → BOM → BLR,12h 10m,1 stop,In-flight meal not included,9663.0
12,IndiGo,24/04/2019,Kolkata,Banglore,CCU → BLR,2h 35m,non-stop,No info,4804.0
13,Air India,03/03/2019,Delhi,Cochin,DEL → AMD → BOM → COK,26h 35m,2 stops,No info,14011.0
14,SpiceJet,15/04/2019,Delhi,Cochin,DEL → PNQ → COK,4h 30m,1 stop,No info,5830.0
15,Jet Airways,12/06/2019,Delhi,Cochin,DEL → BOM → COK,22h 35m,1 stop,In-flight meal not included,10262.0
16,Air India,12/06/2019,Delhi,Cochin,DEL → CCU → BOM → COK,23h,2 stops,No info,13381.0
17,Jet Airways,27/05/2019,Delhi,Cochin,DEL → BOM → COK,20h 35m,1 stop,In-flight meal not included,12898.0
18,GoAir,06/03/2019,Delhi,Cochin,DEL → BOM → COK,5h 10m,1 stop,0,19495.0
19,Air India,21/03/2019,Banglore,New Delhi,BLR → COK → DEL,15h 20m,1 stop,No info,6955.0
20,IndiGo,03/04/2019,Banglore,Delhi,BLR → DEL,2h 50m,non-stop,No info,3943.0
21,IndiGo,01/05/2019,Banglore,Delhi,BLR → DEL,2h 55m,non-stop,No info,4823.0
22,Jet Airways,06/05/2019,Kolkata,Banglore,CCU → BOM → BLR,13h 20m,1 stop,In-flight meal not included,7757.0
23,Jet Airways,09/06/2019,Delhi,Cochin,DEL → IDR → BOM → COK,15h 10m,2 stops,No info,13292.0
24,IndiGo,01/06/2019,Delhi,Cochin,DEL → LKO → COK,5h 45m,1 stop,No info,8238.0
25,GoAir,15/05/2019,Delhi,Cochin,DEL → BOM → COK,5h 55m,1 stop,No info,7682.0
26,Vistara,18/06/2019,Banglore,Delhi,BLR → DEL,2h 50m,non-stop,No info,4668.0
27,Vistara,15/06/2019,Chennai,Kolkata,MAA → CCU,2h 15m,non-stop,No info,3687.0
28,Vistara,18/06/2019,Chennai,Kolkata,MAA → CCU,2h 15m,non-stop,No info,3687.0
29,Air India,01/05/2019,Kolkata,Banglore,CCU → GAU → DEL → BLR,13h 25m,2 stops,No info,13227.0
30,IndiGo,06/04/2019,Banglore,Delhi,BLR → DEL,2h 50m,non-stop,No info,4423.0
31,Jet Airways,15/06/2019,Delhi,Cochin,DEL → NAG → BOM → COK,22h,2 stops,In-flight meal not included,10919.0
32,Jet Airways,18/05/2019,Delhi,Cochin,DEL → BOM → COK,5h 30m,1 stop,In-flight meal not included,12373.0
33,IndiGo,27/06/2019,Delhi,Cochin,DEL → BOM → COK,10h 25m,1 stop,No info,5894.0
34,SpiceJet,21/05/2019,Kolkata,Banglore,CCU → MAA → BLR,5h 15m,1 stop,No info,4649.0
35,0,18/05/2019,Kolkata,Banglore,CCU → BLR,2h 30m,non-stop,No info,6245.0
36,Jet Airways,06/03/2019,Banglore,New Delhi,BLR → BOM → DEL,6h 15m,1 stop,No info,19225.0
37,Jet Airways,03/06/2019,Delhi,Cochin,DEL → BOM → COK,11h 55m,1 stop,No info,14924.0
38,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → HYD → COK,11h 5m,1 stop,0,9646.0
39,Air India,15/03/2019,Banglore,New Delhi,BLR → BOM → DEL,8h 30m,1 stop,No info,8714.0
40,Jet Airways,18/05/2019,Delhi,Cochin,DEL → BOM → COK,22h 5m,1 stop,In-flight meal not included,12373.0
41,Air Asia,0,Banglore,Delhi,BLR → DEL,2h 45m,non-stop,No info,3383.0
42,Multiple carriers,21/03/2019,Delhi,Cochin,DEL → BOM → COK,12h,1 stop,No info,13062.0
43,SpiceJet,24/03/2019,Banglore,0,BLR → DEL,2h 50m,non-stop,No check-in baggage included,3527.0
44,IndiGo,27/05/2019,Banglore,Delhi,BLR → DEL,2h 50m,non-stop,No info,3943.0
45,Air India,03/05/2019,Chennai,Kolkata,MAA → CCU,2h 15m,non-stop,No info,4667.0
46,Air India,15/05/2019,Kolkata,Banglore,CCU → HYD → BLR,16h 5m,1 stop,No info,6117.0
47,Jet Airways,27/06/2019,Delhi,Cochin,DEL → AMD → BOM → COK,19h 55m,2 stops,In-flight meal not included,11150.0
48,Jet Airways,09/03/2019,Delhi,Cochin,DEL → COK,3h 15m,non-stop,In-flight meal not included,7202.0
49,Jet Airways,01/05/2019,Kolkata,Banglore,CCU → DEL → BLR,25h 20m,1 stop,No info,12121.0

In [47]:
ss.isna().sum()

numbers    2
dtype: int64

In [51]:
plane.head(50)

,Airline,Date_of_Journey,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price
0,Jet Airways,09/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882.0
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218.0
2,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302.0
3,SpiceJet,24/06/2019,Kolkata,Banglore,CCU → BLR,2h 25m,non-stop,No info,3873.0
4,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,15h 30m,1 stop,In-flight meal not included,11087.0
5,Jet Airways,01/03/2019,Banglore,New Delhi,BLR → BOM → DEL,21h 5m,1 stop,No info,22270.0
6,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,25h 30m,1 stop,In-flight meal not included,11087.0
7,Multiple carriers,27/05/2019,Delhi,Cochin,DEL → BOM → COK,7h 50m,1 stop,No info,8625.0
8,Air India,01/06/2019,Delhi,Cochin,DEL → BLR → COK,13h 15m,1 stop,No info,8907.0
9,IndiGo,18/04/2019,Kolkata,Banglore,CCU → BLR,2h 35m,non-stop,No info,4174.0
10,Air India,24/06/2019,Chennai,Kolkata,MAA → CCU,2h 15m,non-stop,No info,4667.0
11,Jet Airways,09/05/2019,Kolkata,Banglore,CCU → BOM → BLR,12h 10m,1 stop,In-flight meal not included,9663.0
12,IndiGo,24/04/2019,Kolkata,Banglore,CCU → BLR,2h 35m,non-stop,No info,4804.0
13,Air India,03/03/2019,Delhi,Cochin,DEL → AMD → BOM → COK,26h 35m,2 stops,No info,14011.0
14,SpiceJet,15/04/2019,Delhi,Cochin,DEL → PNQ → COK,4h 30m,1 stop,No info,5830.0
15,Jet Airways,12/06/2019,Delhi,Cochin,DEL → BOM → COK,22h 35m,1 stop,In-flight meal not included,10262.0
16,Air India,12/06/2019,Delhi,Cochin,DEL → CCU → BOM → COK,23h,2 stops,No info,13381.0
17,Jet Airways,27/05/2019,Delhi,Cochin,DEL → BOM → COK,20h 35m,1 stop,In-flight meal not included,12898.0
18,GoAir,06/03/2019,Delhi,Cochin,DEL → BOM → COK,5h 10m,1 stop,NaN,19495.0
19,Air India,21/03/2019,Banglore,New Delhi,BLR → COK → DEL,15h 20m,1 stop,No info,6955.0
20,IndiGo,03/04/2019,Banglore,Delhi,BLR → DEL,2h 50m,non-stop,No info,3943.0
21,IndiGo,01/05/2019,Banglore,Delhi,BLR → DEL,2h 55m,non-stop,No info,4823.0
22,Jet Airways,06/05/2019,Kolkata,Banglore,CCU → BOM → BLR,13h 20m,1 stop,In-flight meal not included,7757.0
23,Jet Airways,09/06/2019,Delhi,Cochin,DEL → IDR → BOM → COK,15h 10m,2 stops,No info,13292.0
24,IndiGo,01/06/2019,Delhi,Cochin,DEL → LKO → COK,5h 45m,1 stop,No info,8238.0
25,GoAir,15/05/2019,Delhi,Cochin,DEL → BOM → COK,5h 55m,1 stop,No info,7682.0
26,Vistara,18/06/2019,Banglore,Delhi,BLR → DEL,2h 50m,non-stop,No info,4668.0
27,Vistara,15/06/2019,Chennai,Kolkata,MAA → CCU,2h 15m,non-stop,No info,3687.0
28,Vistara,18/06/2019,Chennai,Kolkata,MAA → CCU,2h 15m,non-stop,No info,3687.0
29,Air India,01/05/2019,Kolkata,Banglore,CCU → GAU → DEL → BLR,13h 25m,2 stops,No info,13227.0
30,IndiGo,06/04/2019,Banglore,Delhi,BLR → DEL,2h 50m,non-stop,No info,4423.0
31,Jet Airways,15/06/2019,Delhi,Cochin,DEL → NAG → BOM → COK,22h,2 stops,In-flight meal not included,10919.0
32,Jet Airways,18/05/2019,Delhi,Cochin,DEL → BOM → COK,5h 30m,1 stop,In-flight meal not included,12373.0
33,IndiGo,27/06/2019,Delhi,Cochin,DEL → BOM → COK,10h 25m,1 stop,No info,5894.0
34,SpiceJet,21/05/2019,Kolkata,Banglore,CCU → MAA → BLR,5h 15m,1 stop,No info,4649.0
35,NaN,18/05/2019,Kolkata,Banglore,CCU → BLR,2h 30m,non-stop,No info,6245.0
36,Jet Airways,06/03/2019,Banglore,New Delhi,BLR → BOM → DEL,6h 15m,1 stop,No info,19225.0
37,Jet Airways,03/06/2019,Delhi,Cochin,DEL → BOM → COK,11h 55m,1 stop,No info,14924.0
38,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → HYD → COK,11h 5m,1 stop,NaN,9646.0
39,Air India,15/03/2019,Banglore,New Delhi,BLR → BOM → DEL,8h 30m,1 stop,No info,8714.0
40,Jet Airways,18/05/2019,Delhi,Cochin,DEL → BOM → COK,22h 5m,1 stop,In-flight meal not included,12373.0
41,Air Asia,NaN,Banglore,Delhi,BLR → DEL,2h 45m,non-stop,No info,3383.0
42,Multiple carriers,21/03/2019,Delhi,Cochin,DEL → BOM → COK,12h,1 stop,No info,13062.0
43,SpiceJet,24/03/2019,Banglore,NaN,BLR → DEL,2h 50m,non-stop,No check-in baggage included,3527.0
44,IndiGo,27/05/2019,Banglore,Delhi,BLR → DEL,2h 50m,non-stop,No info,3943.0
45,Air India,03/05/2019,Chennai,Kolkata,MAA → CCU,2h 15m,non-stop,No info,4667.0
46,Air India,15/05/2019,Kolkata,Banglore,CCU → HYD → BLR,16h 5m,1 stop,No info,6117.0
47,Jet Airways,27/06/2019,Delhi,Cochin,DEL → AMD → BOM → COK,19h 55m,2 stops,In-flight meal not included,11150.0
48,Jet Airways,09/03/2019,Delhi,Cochin,DEL → COK,3h 15m,non-stop,In-flight meal not included,7202.0
49,Jet Airways,01/05/2019,Kolkata,Banglore,CCU → DEL → BLR,25h 20m,1 stop,No info,12121.0

## Data selection

In [70]:
# slelcting one column like as df 
data1[["week"]]

       week
0         2
1         6
2         5
3         4
4         3
...     ...
14995     4
14996     5
14997     1
14998     6
14999     5

[15000 rows x 1 columns]

In [71]:
# slelcting one column like as series
data1["week"]

0        2
1        6
2        5
3        4
4        3
        ..
14995    4
14996    5
14997    1
14998    6
14999    5
Name: week, Length: 15000, dtype: int64

In [ ]:
# slelcting multiple column (col ONLY)
data1[["week",'sales_method']]

       week  sales_method
0         2         Email
1         6  Email + Call
2         5          Call
3         4         Email
4         3         Email
...     ...           ...
14995     4          Call
14996     5          Call
14997     1          Call
14998     6          Call
14999     5  Email + Call

[15000 rows x 2 columns]

In [73]:
data1.columns

Index(['week', 'sales_method', 'customer_id', 'nb_sold', 'revenue',
       'years_as_customer', 'nb_site_visits', 'state'],
      dtype='object')

In [76]:
data1

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
0,2,Email,2e72d641-95ac-497b-bbf8-4861764a7097,10.0,NaN,0,24,Arizona
1,6,Email + Call,3998a98d-70f5-44f7-942e-789bb8ad2fe7,15.0,225.47,1,28,Kansas
2,5,Call,d1de9884-8059-4065-b10f-86eef57e4a44,11.0,52.55,6,26,Wisconsin
3,4,Email,78aa75a4-ffeb-4817-b1d0-2f030783c5d7,11.0,NaN,3,25,Indiana
4,3,Email,10e6d446-10a5-42e5-8210-1b5438f70922,9.0,90.49,0,28,Illinois
...,...,...,...,...,...,...,...,...
14995,4,Call,17267b41-d048-4346-8b90-7f787690a836,10.0,50.82,0,22,Pennsylvania
14996,5,Call,09e10d6f-4508-4b27-895e-4db11ce8302b,10.0,52.33,1,27,Kansas
14997,1,Call,839653cb-68c9-48cb-a097-0a5a3b2b298b,7.0,34.87,4,22,West Virginia
14998,6,Call,e4dad70a-b23b-407c-8bd3-e32ea00fae17,13.0,64.90,2,27,New Jersey
14999,5,Email + Call,4e077235-7c17-4054-9997-7a890336a214,13.0,NaN,4,25,Illinois

In [ ]:
# Using loc method  (selecting based on label)
data1.loc[0,"week"] # row 0, column week

np.int64(2)

In [80]:
data1.loc[0:6,["week","sales_method"]] # row 0, column week and sales_metho

   week  sales_method
0     2         Email
1     6  Email + Call
2     5          Call
3     4         Email
4     3         Email
5     6          Call
6     4         Email

In [83]:
data1.set_index("sales_method").loc["Email",:]

,week,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
sales_method,,,,,,,
Email,2,2e72d641-95ac-497b-bbf8-4861764a7097,10.0,NaN,0,24,Arizona
Email,4,78aa75a4-ffeb-4817-b1d0-2f030783c5d7,11.0,NaN,3,25,Indiana
Email,3,10e6d446-10a5-42e5-8210-1b5438f70922,9.0,90.49,0,28,Illinois
Email,4,eb6bd5f1-f115-4e4b-80a6-5e67fcfbfb94,11.0,113.38,9,28,Georgia
Email,1,047df079-071b-4380-9012-2bfe9bce45d5,10.0,99.94,1,22,Oklahoma
...,...,...,...,...,...,...,...
Email,4,de9a4735-aa16-470a-87f5-b518e184469b,11.0,112.01,9,25,Oregon
Email,1,bb4b9fb0-f704-4da5-bc1c-6c3545860430,10.0,97.08,5,22,Hawaii
Email,2,8c9138d0-690b-4709-a279-5e0d4c6429d0,10.0,104.39,1,31,Arkansas
Email,1,3ec54950-652e-4d8a-bc49-8b5c770c6cd2,8.0,83.98,2,21,Texas
Email,4,56f02e26-3633-427d-8c4e-f45f00afa787,11.0,109.36,3,25,Ohio