### 16-10-25

### Replacing values in a data

In [82]:
import pandas as pd 
data1 = pd.read_csv(
    r"data\product_sales.csv"
)
data1

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
0,2,Email,2e72d641-95ac-497b-bbf8-4861764a7097,10,NaN,0,24,Arizona
1,6,Email + Call,3998a98d-70f5-44f7-942e-789bb8ad2fe7,15,225.47,1,28,Kansas
2,5,Call,d1de9884-8059-4065-b10f-86eef57e4a44,11,52.55,6,26,Wisconsin
3,4,Email,78aa75a4-ffeb-4817-b1d0-2f030783c5d7,11,NaN,3,25,Indiana
4,3,Email,10e6d446-10a5-42e5-8210-1b5438f70922,9,90.49,0,28,Illinois
...,...,...,...,...,...,...,...,...
14995,4,Call,17267b41-d048-4346-8b90-7f787690a836,10,50.82,0,22,Pennsylvania
14996,5,Call,09e10d6f-4508-4b27-895e-4db11ce8302b,10,52.33,1,27,Kansas
14997,1,Call,839653cb-68c9-48cb-a097-0a5a3b2b298b,7,34.87,4,22,West Virginia
14998,6,Call,e4dad70a-b23b-407c-8bd3-e32ea00fae17,13,64.90,2,27,New Jersey
14999,5,Email + Call,4e077235-7c17-4054-9997-7a890336a214,13,NaN,4,25,Illinois

In [83]:
# checking the unique content inside sales method 
# method1
data1["sales_method"].unique()

array(['Email', 'Email + Call', 'Call', 'em + call', 'email'],
      dtype=object)

In [84]:
# method2
data1["sales_method"].value_counts()

sales_method
Email           7456
Call            4962
Email + Call    2549
em + call         23
email             10
Name: count, dtype: int64

In [85]:
# Reolacement 
# To match and replace the entire content 
data1["sales_method"] = data1["sales_method"].replace(
    {'em + call':'Email + Call',
     'email':"Email"}
)
# check
data1["sales_method"].unique()

array(['Email', 'Email + Call', 'Call'], dtype=object)

In [86]:
# replacing with regular expression 
data1.replace(r"\d","***",regex=True)

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
0,2,Email,***e******d*********-******ac-*********b-bbf**...,10,NaN,0,24,Arizona
1,6,Email + Call,************a******d-******f***-******f***-***...,15,225.47,1,28,Kansas
2,5,Call,d***de************-************-************-b...,11,52.55,6,26,Wisconsin
3,4,Email,******aa******a***-ffeb-************-b***d***-...,11,NaN,3,25,Indiana
4,3,Email,******e***d*********-******a***-******e***-***...,9,90.49,0,28,Illinois
...,...,...,...,...,...,...,...,...
14995,4,Call,***************b******-d*********-************...,10,50.82,0,22,Pennsylvania
14996,5,Call,******e******d***f-************-***b******-***...,10,52.33,1,27,Kansas
14997,1,Call,******************cb-******c***-******cb-a****...,7,34.87,4,22,West Virginia
14998,6,Call,e***dad******a-b******b-*********c-***bd***-e*...,13,64.90,2,27,New Jersey
14999,5,Email + Call,***e******************-***c******-************...,13,NaN,4,25,Illinois

In [87]:
# To match and replace substring use str accessor

data1["sales_method"].replace({"mail":"***"}) # will not work

data1["sales_method"].str.replace("mail","***")

0               E***
1        E*** + Call
2               Call
3               E***
4               E***
            ...
14995           Call
14996           Call
14997           Call
14998           Call
14999    E*** + Call
Name: sales_method, Length: 15000, dtype: object

In [88]:
# Checking datatye 
data1.dtypes

week                   int64
sales_method          object
customer_id           object
nb_sold                int64
revenue              float64
years_as_customer      int64
nb_site_visits         int64
state                 object
dtype: object

In [89]:
# selecting datatype 
data1.select_dtypes(int) # show only column with int data type

       week  nb_sold  years_as_customer  nb_site_visits
0         2       10                  0              24
1         6       15                  1              28
2         5       11                  6              26
3         4       11                  3              25
4         3        9                  0              28
...     ...      ...                ...             ...
14995     4       10                  0              22
14996     5       10                  1              27
14997     1        7                  4              22
14998     6       13                  2              27
14999     5       13                  4              25

[15000 rows x 4 columns]

In [90]:
# selecting datatype 
data1.select_dtypes('object') # show only column with str/object

       sales_method                           customer_id          state
0             Email  2e72d641-95ac-497b-bbf8-4861764a7097        Arizona
1      Email + Call  3998a98d-70f5-44f7-942e-789bb8ad2fe7         Kansas
2              Call  d1de9884-8059-4065-b10f-86eef57e4a44      Wisconsin
3             Email  78aa75a4-ffeb-4817-b1d0-2f030783c5d7        Indiana
4             Email  10e6d446-10a5-42e5-8210-1b5438f70922       Illinois
...             ...                                   ...            ...
14995          Call  17267b41-d048-4346-8b90-7f787690a836   Pennsylvania
14996          Call  09e10d6f-4508-4b27-895e-4db11ce8302b         Kansas
14997          Call  839653cb-68c9-48cb-a097-0a5a3b2b298b  West Virginia
14998          Call  e4dad70a-b23b-407c-8bd3-e32ea00fae17     New Jersey
14999  Email + Call  4e077235-7c17-4054-9997-7a890336a214       Illinois

[15000 rows x 3 columns]

In [91]:
# selecting datatype 
data1.select_dtypes('float') # show only column with float

       revenue
0          NaN
1       225.47
2        52.55
3          NaN
4        90.49
...        ...
14995    50.82
14996    52.33
14997    34.87
14998    64.90
14999      NaN

[15000 rows x 1 columns]

In [92]:
# selecting datatype 
data1.select_dtypes("number") # show numeric data (both float and int)

       week  nb_sold  revenue  years_as_customer  nb_site_visits
0         2       10      NaN                  0              24
1         6       15   225.47                  1              28
2         5       11    52.55                  6              26
3         4       11      NaN                  3              25
4         3        9    90.49                  0              28
...     ...      ...      ...                ...             ...
14995     4       10    50.82                  0              22
14996     5       10    52.33                  1              27
14997     1        7    34.87                  4              22
14998     6       13    64.90                  2              27
14999     5       13      NaN                  4              25

[15000 rows x 5 columns]

In [93]:
# changing datatype 
data1.astype({"week":float})
data1["nb_sold"] = data1["nb_sold"].astype(float)
data1
data1.dtypes

data1

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
0,2,Email,2e72d641-95ac-497b-bbf8-4861764a7097,10.0,NaN,0,24,Arizona
1,6,Email + Call,3998a98d-70f5-44f7-942e-789bb8ad2fe7,15.0,225.47,1,28,Kansas
2,5,Call,d1de9884-8059-4065-b10f-86eef57e4a44,11.0,52.55,6,26,Wisconsin
3,4,Email,78aa75a4-ffeb-4817-b1d0-2f030783c5d7,11.0,NaN,3,25,Indiana
4,3,Email,10e6d446-10a5-42e5-8210-1b5438f70922,9.0,90.49,0,28,Illinois
...,...,...,...,...,...,...,...,...
14995,4,Call,17267b41-d048-4346-8b90-7f787690a836,10.0,50.82,0,22,Pennsylvania
14996,5,Call,09e10d6f-4508-4b27-895e-4db11ce8302b,10.0,52.33,1,27,Kansas
14997,1,Call,839653cb-68c9-48cb-a097-0a5a3b2b298b,7.0,34.87,4,22,West Virginia
14998,6,Call,e4dad70a-b23b-407c-8bd3-e32ea00fae17,13.0,64.90,2,27,New Jersey
14999,5,Email + Call,4e077235-7c17-4054-9997-7a890336a214,13.0,NaN,4,25,Illinois

In [94]:
ss = pd.read_clipboard()
ss

               data1.groupby(["sales_method","week"]
0  )[["revenue","nb_sold"]].agg(["mean","sum","ma...

In [95]:
ss["numbers"].astype(int)

KeyError: 'numbers'

In [ ]:
ss["numbers"] = pd.to_numeric(ss["numbers"],errors="coerce")

### dealing with missing values

In [ ]:
plane = pd.read_csv(r"data\plane_new.csv")
plane
# checking the total number of missing values in a data 
print(plane.isnull().sum())
print(plane.shape)

Airline            427
Date_of_Journey    322
Source             187
Destination        347
Route              256
Duration           214
Total_Stops        212
Additional_Info    589
Price              616
dtype: int64
(10660, 9)

In [ ]:
# Removing missing values 
# note that If you remove mising values(NaN), you're removing the entire row

plane.dropna() # to remove all from all column
plane.dropna(subset=["Date_of_Journey","Source"]) # specifying the col

,Airline,Date_of_Journey,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price
0,Jet Airways,09/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882.0
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218.0
2,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302.0
3,SpiceJet,24/06/2019,Kolkata,Banglore,CCU → BLR,2h 25m,non-stop,No info,3873.0
4,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,15h 30m,1 stop,In-flight meal not included,11087.0
...,...,...,...,...,...,...,...,...,...
10655,Air Asia,09/04/2019,Kolkata,Banglore,CCU → BLR,2h 30m,non-stop,No info,4107.0
10656,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,2h 35m,non-stop,No info,4145.0
10657,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,3h,non-stop,NaN,7229.0
10658,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,2h 40m,non-stop,No info,12648.0
10659,Air India,09/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,8h 20m,2 stops,No info,11753.0

In [ ]:
# Masking the missing value (replacing the NaN)
plane.fillna(0).head(50)

,Airline,Date_of_Journey,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price
0,Jet Airways,09/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882.0
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218.0
2,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302.0
3,SpiceJet,24/06/2019,Kolkata,Banglore,CCU → BLR,2h 25m,non-stop,No info,3873.0
4,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,15h 30m,1 stop,In-flight meal not included,11087.0
5,Jet Airways,01/03/2019,Banglore,New Delhi,BLR → BOM → DEL,21h 5m,1 stop,No info,22270.0
6,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,25h 30m,1 stop,In-flight meal not included,11087.0
7,Multiple carriers,27/05/2019,Delhi,Cochin,DEL → BOM → COK,7h 50m,1 stop,No info,8625.0
8,Air India,01/06/2019,Delhi,Cochin,DEL → BLR → COK,13h 15m,1 stop,No info,8907.0
9,IndiGo,18/04/2019,Kolkata,Banglore,CCU → BLR,2h 35m,non-stop,No info,4174.0
10,Air India,24/06/2019,Chennai,Kolkata,MAA → CCU,2h 15m,non-stop,No info,4667.0
11,Jet Airways,09/05/2019,Kolkata,Banglore,CCU → BOM → BLR,12h 10m,1 stop,In-flight meal not included,9663.0
12,IndiGo,24/04/2019,Kolkata,Banglore,CCU → BLR,2h 35m,non-stop,No info,4804.0
13,Air India,03/03/2019,Delhi,Cochin,DEL → AMD → BOM → COK,26h 35m,2 stops,No info,14011.0
14,SpiceJet,15/04/2019,Delhi,Cochin,DEL → PNQ → COK,4h 30m,1 stop,No info,5830.0
15,Jet Airways,12/06/2019,Delhi,Cochin,DEL → BOM → COK,22h 35m,1 stop,In-flight meal not included,10262.0
16,Air India,12/06/2019,Delhi,Cochin,DEL → CCU → BOM → COK,23h,2 stops,No info,13381.0
17,Jet Airways,27/05/2019,Delhi,Cochin,DEL → BOM → COK,20h 35m,1 stop,In-flight meal not included,12898.0
18,GoAir,06/03/2019,Delhi,Cochin,DEL → BOM → COK,5h 10m,1 stop,0,19495.0
19,Air India,21/03/2019,Banglore,New Delhi,BLR → COK → DEL,15h 20m,1 stop,No info,6955.0
20,IndiGo,03/04/2019,Banglore,Delhi,BLR → DEL,2h 50m,non-stop,No info,3943.0
21,IndiGo,01/05/2019,Banglore,Delhi,BLR → DEL,2h 55m,non-stop,No info,4823.0
22,Jet Airways,06/05/2019,Kolkata,Banglore,CCU → BOM → BLR,13h 20m,1 stop,In-flight meal not included,7757.0
23,Jet Airways,09/06/2019,Delhi,Cochin,DEL → IDR → BOM → COK,15h 10m,2 stops,No info,13292.0
24,IndiGo,01/06/2019,Delhi,Cochin,DEL → LKO → COK,5h 45m,1 stop,No info,8238.0
25,GoAir,15/05/2019,Delhi,Cochin,DEL → BOM → COK,5h 55m,1 stop,No info,7682.0
26,Vistara,18/06/2019,Banglore,Delhi,BLR → DEL,2h 50m,non-stop,No info,4668.0
27,Vistara,15/06/2019,Chennai,Kolkata,MAA → CCU,2h 15m,non-stop,No info,3687.0
28,Vistara,18/06/2019,Chennai,Kolkata,MAA → CCU,2h 15m,non-stop,No info,3687.0
29,Air India,01/05/2019,Kolkata,Banglore,CCU → GAU → DEL → BLR,13h 25m,2 stops,No info,13227.0
30,IndiGo,06/04/2019,Banglore,Delhi,BLR → DEL,2h 50m,non-stop,No info,4423.0
31,Jet Airways,15/06/2019,Delhi,Cochin,DEL → NAG → BOM → COK,22h,2 stops,In-flight meal not included,10919.0
32,Jet Airways,18/05/2019,Delhi,Cochin,DEL → BOM → COK,5h 30m,1 stop,In-flight meal not included,12373.0
33,IndiGo,27/06/2019,Delhi,Cochin,DEL → BOM → COK,10h 25m,1 stop,No info,5894.0
34,SpiceJet,21/05/2019,Kolkata,Banglore,CCU → MAA → BLR,5h 15m,1 stop,No info,4649.0
35,0,18/05/2019,Kolkata,Banglore,CCU → BLR,2h 30m,non-stop,No info,6245.0
36,Jet Airways,06/03/2019,Banglore,New Delhi,BLR → BOM → DEL,6h 15m,1 stop,No info,19225.0
37,Jet Airways,03/06/2019,Delhi,Cochin,DEL → BOM → COK,11h 55m,1 stop,No info,14924.0
38,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → HYD → COK,11h 5m,1 stop,0,9646.0
39,Air India,15/03/2019,Banglore,New Delhi,BLR → BOM → DEL,8h 30m,1 stop,No info,8714.0
40,Jet Airways,18/05/2019,Delhi,Cochin,DEL → BOM → COK,22h 5m,1 stop,In-flight meal not included,12373.0
41,Air Asia,0,Banglore,Delhi,BLR → DEL,2h 45m,non-stop,No info,3383.0
42,Multiple carriers,21/03/2019,Delhi,Cochin,DEL → BOM → COK,12h,1 stop,No info,13062.0
43,SpiceJet,24/03/2019,Banglore,0,BLR → DEL,2h 50m,non-stop,No check-in baggage included,3527.0
44,IndiGo,27/05/2019,Banglore,Delhi,BLR → DEL,2h 50m,non-stop,No info,3943.0
45,Air India,03/05/2019,Chennai,Kolkata,MAA → CCU,2h 15m,non-stop,No info,4667.0
46,Air India,15/05/2019,Kolkata,Banglore,CCU → HYD → BLR,16h 5m,1 stop,No info,6117.0
47,Jet Airways,27/06/2019,Delhi,Cochin,DEL → AMD → BOM → COK,19h 55m,2 stops,In-flight meal not included,11150.0
48,Jet Airways,09/03/2019,Delhi,Cochin,DEL → COK,3h 15m,non-stop,In-flight meal not included,7202.0
49,Jet Airways,01/05/2019,Kolkata,Banglore,CCU → DEL → BLR,25h 20m,1 stop,No info,12121.0

In [ ]:
ss.isna().sum()

numbers    2
dtype: int64

In [ ]:
plane.head(50)

,Airline,Date_of_Journey,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price
0,Jet Airways,09/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882.0
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218.0
2,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302.0
3,SpiceJet,24/06/2019,Kolkata,Banglore,CCU → BLR,2h 25m,non-stop,No info,3873.0
4,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,15h 30m,1 stop,In-flight meal not included,11087.0
5,Jet Airways,01/03/2019,Banglore,New Delhi,BLR → BOM → DEL,21h 5m,1 stop,No info,22270.0
6,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,25h 30m,1 stop,In-flight meal not included,11087.0
7,Multiple carriers,27/05/2019,Delhi,Cochin,DEL → BOM → COK,7h 50m,1 stop,No info,8625.0
8,Air India,01/06/2019,Delhi,Cochin,DEL → BLR → COK,13h 15m,1 stop,No info,8907.0
9,IndiGo,18/04/2019,Kolkata,Banglore,CCU → BLR,2h 35m,non-stop,No info,4174.0
10,Air India,24/06/2019,Chennai,Kolkata,MAA → CCU,2h 15m,non-stop,No info,4667.0
11,Jet Airways,09/05/2019,Kolkata,Banglore,CCU → BOM → BLR,12h 10m,1 stop,In-flight meal not included,9663.0
12,IndiGo,24/04/2019,Kolkata,Banglore,CCU → BLR,2h 35m,non-stop,No info,4804.0
13,Air India,03/03/2019,Delhi,Cochin,DEL → AMD → BOM → COK,26h 35m,2 stops,No info,14011.0
14,SpiceJet,15/04/2019,Delhi,Cochin,DEL → PNQ → COK,4h 30m,1 stop,No info,5830.0
15,Jet Airways,12/06/2019,Delhi,Cochin,DEL → BOM → COK,22h 35m,1 stop,In-flight meal not included,10262.0
16,Air India,12/06/2019,Delhi,Cochin,DEL → CCU → BOM → COK,23h,2 stops,No info,13381.0
17,Jet Airways,27/05/2019,Delhi,Cochin,DEL → BOM → COK,20h 35m,1 stop,In-flight meal not included,12898.0
18,GoAir,06/03/2019,Delhi,Cochin,DEL → BOM → COK,5h 10m,1 stop,NaN,19495.0
19,Air India,21/03/2019,Banglore,New Delhi,BLR → COK → DEL,15h 20m,1 stop,No info,6955.0
20,IndiGo,03/04/2019,Banglore,Delhi,BLR → DEL,2h 50m,non-stop,No info,3943.0
21,IndiGo,01/05/2019,Banglore,Delhi,BLR → DEL,2h 55m,non-stop,No info,4823.0
22,Jet Airways,06/05/2019,Kolkata,Banglore,CCU → BOM → BLR,13h 20m,1 stop,In-flight meal not included,7757.0
23,Jet Airways,09/06/2019,Delhi,Cochin,DEL → IDR → BOM → COK,15h 10m,2 stops,No info,13292.0
24,IndiGo,01/06/2019,Delhi,Cochin,DEL → LKO → COK,5h 45m,1 stop,No info,8238.0
25,GoAir,15/05/2019,Delhi,Cochin,DEL → BOM → COK,5h 55m,1 stop,No info,7682.0
26,Vistara,18/06/2019,Banglore,Delhi,BLR → DEL,2h 50m,non-stop,No info,4668.0
27,Vistara,15/06/2019,Chennai,Kolkata,MAA → CCU,2h 15m,non-stop,No info,3687.0
28,Vistara,18/06/2019,Chennai,Kolkata,MAA → CCU,2h 15m,non-stop,No info,3687.0
29,Air India,01/05/2019,Kolkata,Banglore,CCU → GAU → DEL → BLR,13h 25m,2 stops,No info,13227.0
30,IndiGo,06/04/2019,Banglore,Delhi,BLR → DEL,2h 50m,non-stop,No info,4423.0
31,Jet Airways,15/06/2019,Delhi,Cochin,DEL → NAG → BOM → COK,22h,2 stops,In-flight meal not included,10919.0
32,Jet Airways,18/05/2019,Delhi,Cochin,DEL → BOM → COK,5h 30m,1 stop,In-flight meal not included,12373.0
33,IndiGo,27/06/2019,Delhi,Cochin,DEL → BOM → COK,10h 25m,1 stop,No info,5894.0
34,SpiceJet,21/05/2019,Kolkata,Banglore,CCU → MAA → BLR,5h 15m,1 stop,No info,4649.0
35,NaN,18/05/2019,Kolkata,Banglore,CCU → BLR,2h 30m,non-stop,No info,6245.0
36,Jet Airways,06/03/2019,Banglore,New Delhi,BLR → BOM → DEL,6h 15m,1 stop,No info,19225.0
37,Jet Airways,03/06/2019,Delhi,Cochin,DEL → BOM → COK,11h 55m,1 stop,No info,14924.0
38,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → HYD → COK,11h 5m,1 stop,NaN,9646.0
39,Air India,15/03/2019,Banglore,New Delhi,BLR → BOM → DEL,8h 30m,1 stop,No info,8714.0
40,Jet Airways,18/05/2019,Delhi,Cochin,DEL → BOM → COK,22h 5m,1 stop,In-flight meal not included,12373.0
41,Air Asia,NaN,Banglore,Delhi,BLR → DEL,2h 45m,non-stop,No info,3383.0
42,Multiple carriers,21/03/2019,Delhi,Cochin,DEL → BOM → COK,12h,1 stop,No info,13062.0
43,SpiceJet,24/03/2019,Banglore,NaN,BLR → DEL,2h 50m,non-stop,No check-in baggage included,3527.0
44,IndiGo,27/05/2019,Banglore,Delhi,BLR → DEL,2h 50m,non-stop,No info,3943.0
45,Air India,03/05/2019,Chennai,Kolkata,MAA → CCU,2h 15m,non-stop,No info,4667.0
46,Air India,15/05/2019,Kolkata,Banglore,CCU → HYD → BLR,16h 5m,1 stop,No info,6117.0
47,Jet Airways,27/06/2019,Delhi,Cochin,DEL → AMD → BOM → COK,19h 55m,2 stops,In-flight meal not included,11150.0
48,Jet Airways,09/03/2019,Delhi,Cochin,DEL → COK,3h 15m,non-stop,In-flight meal not included,7202.0
49,Jet Airways,01/05/2019,Kolkata,Banglore,CCU → DEL → BLR,25h 20m,1 stop,No info,12121.0

## Data selection

In [ ]:
# slelcting one column like as df 
data1[["week"]]

       week
0         2
1         6
2         5
3         4
4         3
...     ...
14995     4
14996     5
14997     1
14998     6
14999     5

[15000 rows x 1 columns]

In [ ]:
# slelcting one column like as series
data1["week"]

0        2
1        6
2        5
3        4
4        3
        ..
14995    4
14996    5
14997    1
14998    6
14999    5
Name: week, Length: 15000, dtype: int64

In [ ]:
# slelcting multiple column (col ONLY)
data1[["week",'sales_method']]

       week  sales_method
0         2         Email
1         6  Email + Call
2         5          Call
3         4         Email
4         3         Email
...     ...           ...
14995     4          Call
14996     5          Call
14997     1          Call
14998     6          Call
14999     5  Email + Call

[15000 rows x 2 columns]

In [ ]:
data1.columns

Index(['week', 'sales_method', 'customer_id', 'nb_sold', 'revenue',
       'years_as_customer', 'nb_site_visits', 'state'],
      dtype='object')

In [ ]:
data1

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
0,2,Email,2e72d641-95ac-497b-bbf8-4861764a7097,10.0,NaN,0,24,Arizona
1,6,Email + Call,3998a98d-70f5-44f7-942e-789bb8ad2fe7,15.0,225.47,1,28,Kansas
2,5,Call,d1de9884-8059-4065-b10f-86eef57e4a44,11.0,52.55,6,26,Wisconsin
3,4,Email,78aa75a4-ffeb-4817-b1d0-2f030783c5d7,11.0,NaN,3,25,Indiana
4,3,Email,10e6d446-10a5-42e5-8210-1b5438f70922,9.0,90.49,0,28,Illinois
...,...,...,...,...,...,...,...,...
14995,4,Call,17267b41-d048-4346-8b90-7f787690a836,10.0,50.82,0,22,Pennsylvania
14996,5,Call,09e10d6f-4508-4b27-895e-4db11ce8302b,10.0,52.33,1,27,Kansas
14997,1,Call,839653cb-68c9-48cb-a097-0a5a3b2b298b,7.0,34.87,4,22,West Virginia
14998,6,Call,e4dad70a-b23b-407c-8bd3-e32ea00fae17,13.0,64.90,2,27,New Jersey
14999,5,Email + Call,4e077235-7c17-4054-9997-7a890336a214,13.0,NaN,4,25,Illinois

In [ ]:
# Using loc method  (selecting based on label)
data1.loc[0,"week"] # row 0, column week

np.int64(2)

In [ ]:
data1.loc[0:6,["week","sales_method"]] # row 0, column week and sales_metho

   week  sales_method
0     2         Email
1     6  Email + Call
2     5          Call
3     4         Email
4     3         Email
5     6          Call
6     4         Email

In [ ]:
data1.set_index("sales_method").loc["Email",:]

,week,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
sales_method,,,,,,,
Email,2,2e72d641-95ac-497b-bbf8-4861764a7097,10.0,NaN,0,24,Arizona
Email,4,78aa75a4-ffeb-4817-b1d0-2f030783c5d7,11.0,NaN,3,25,Indiana
Email,3,10e6d446-10a5-42e5-8210-1b5438f70922,9.0,90.49,0,28,Illinois
Email,4,eb6bd5f1-f115-4e4b-80a6-5e67fcfbfb94,11.0,113.38,9,28,Georgia
Email,1,047df079-071b-4380-9012-2bfe9bce45d5,10.0,99.94,1,22,Oklahoma
...,...,...,...,...,...,...,...
Email,4,de9a4735-aa16-470a-87f5-b518e184469b,11.0,112.01,9,25,Oregon
Email,1,bb4b9fb0-f704-4da5-bc1c-6c3545860430,10.0,97.08,5,22,Hawaii
Email,2,8c9138d0-690b-4709-a279-5e0d4c6429d0,10.0,104.39,1,31,Arkansas
Email,1,3ec54950-652e-4d8a-bc49-8b5c770c6cd2,8.0,83.98,2,21,Texas
Email,4,56f02e26-3633-427d-8c4e-f45f00afa787,11.0,109.36,3,25,Ohio

In [ ]:
import pandas as pd 
piza = pd.read_csv(r"data\pizza_types.csv",
                   encoding="latin")
piza["category"].value_counts()

category
Veggie     9
Supreme    9
Classic    8
Chicken    6
Name: count, dtype: int64

In [ ]:
piza.value_counts()

pizza_type_id  name                                        category  ingredients
bbq_ckn        The Barbecue Chicken Pizza                  Chicken   Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce                  1
big_meat       The Big Meat Pizza                          Classic   Bacon, Pepperoni, Italian Sausage, Chorizo Sausage                                                   1
brie_carre     The Brie Carre Pizza                        Supreme   Brie Carre Cheese, Prosciutto, Caramelized Onions, Pears, Thyme, Garlic                              1
calabrese      The Calabrese Pizza                         Supreme   Nduja Salami, Pancetta, Tomatoes, Red Onions, Friggitello Peppers, Garlic                           1
cali_ckn       The California Chicken Pizza                Chicken   Chicken, Artichoke, Spinach, Garlic, Jalapeno Peppers, Fontina Cheese, Gouda Cheese                  1
ckn_alfredo    The Chicken Alfredo Pizza                   Chicken   Chicken, Red Onions, Red Peppers, Mushrooms, Asiago Cheese, Alfredo Sauce                            1
ckn_pesto      The Chicken Pesto Pizza                     Chicken   Chicken, Tomatoes, Red Peppers, Spinach, Garlic, Pesto Sauce                                         1
classic_dlx    The Classic Deluxe Pizza                    Classic   Pepperoni, Mushrooms, Red Onions, Red Peppers, Bacon                                                 1
five_cheese    The Five Cheese Pizza                       Veggie    Mozzarella Cheese, Provolone Cheese, Smoked Gouda Cheese, Romano Cheese, Blue Cheese, Garlic         1
four_cheese    The Four Cheese Pizza                       Veggie    Ricotta Cheese, Gorgonzola Piccante Cheese, Mozzarella Cheese, Parmigiano Reggiano Cheese, Garlic    1
green_garden   The Green Garden Pizza                      Veggie    Spinach, Mushrooms, Tomatoes, Green Olives, Feta Cheese                                              1
hawaiian       The Hawaiian Pizza                          Classic   Sliced Ham, Pineapple, Mozzarella Cheese                                                             1
ital_cpcllo    The Italian Capocollo Pizza                 Classic   Capocollo, Red Peppers, Tomatoes, Goat Cheese, Garlic, Oregano                                       1
ital_supr      The Italian Supreme Pizza                   Supreme   Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic                              1
ital_veggie    The Italian Vegetables Pizza                Veggie    Eggplant, Artichokes, Tomatoes, Zucchini, Red Peppers, Garlic, Pesto Sauce                           1
mediterraneo   The Mediterranean Pizza                     Veggie    Spinach, Artichokes, Kalamata Olives, Sun-dried Tomatoes, Feta Cheese, Plum Tomatoes, Red Onions     1
mexicana       The Mexicana Pizza                          Veggie    Tomatoes, Red Peppers, Jalapeno Peppers, Red Onions, Cilantro, Corn, Chipotle Sauce, Garlic          1
napolitana     The Napolitana Pizza                        Classic   Tomatoes, Anchovies, Green Olives, Red Onions, Garlic                                                1
pep_msh_pep    The Pepperoni, Mushroom, and Peppers Pizza  Classic   Pepperoni, Mushrooms, Green Peppers                                                                  1
pepperoni      The Pepperoni Pizza                         Classic   Mozzarella Cheese, Pepperoni                                                                         1
peppr_salami   The Pepper Salami Pizza                     Supreme   Genoa Salami, Capocollo, Pepperoni, Tomatoes, Asiago Cheese, Garlic                                  1
prsc_argla     The Prosciutto and Arugula Pizza            Supreme   Prosciutto di San Daniele, Arugula, Mozzarella Cheese                                                1
sicilian       The Sicilian Pizza                          Supreme   Coarse Sicilian Salami, Tomatoes, Green Olives, Luganega Sausage, Onions, Garlic                     1
soppressata    The Soppressata Pizza                       Supreme   Soppressata Salami, Fontina Cheese, Mozzarella Cheese, Mushrooms, Garlic                             1
southw_ckn     The Southwest Chicken Pizza                 Chicken   Chicken, Tomatoes, Red Peppers, Red Onions, Jalapeno Peppers, Corn, Cilantro, Chipotle Sauce         1
spicy_ital     The Spicy Italian Pizza                     Supreme   Capocollo, Tomatoes, Goat Cheese, Artichokes, Peperoncini verdi, Garlic                              1
spin_pesto     The Spinach Pesto Pizza                     Veggie    Spinach, Artichokes, Tomatoes, Sun-dried Tomatoes, Garlic, Pesto Sauce                               1
spinach_fet    The Spinach and Feta Pizza                  Veggie    Spinach, Mushrooms, Red Onions, Feta Cheese, Garlic                                                  1
spinach_supr   The Spinach Supreme Pizza                   Supreme   Spinach, Red Onions, Pepperoni, Tomatoes, Artichokes, Kalamata Olives, Garlic, Asiago Cheese         1
thai_ckn       The Thai Chicken Pizza                      Chicken   Chicken, Pineapple, Tomatoes, Red Peppers, Thai Sweet Chilli Sauce                                   1
the_greek      The Greek Pizza                             Classic   Kalamata Olives, Feta Cheese, Tomatoes, Garlic, Beef Chuck Roast, Red Onions                         1
veggie_veg     The Vegetables + Vegetables Pizza           Veggie    Mushrooms, Tomatoes, Red Peppers, Green Peppers, Red Onions, Zucchini, Spinach, Garlic               1
Name: count, dtype: int64

In [ ]:
k = pd.read_clipboard()
k

   A    B    C
0  1    r    t
1  2  NaN  NaN
2  2  NaN  NaN
3  t    3    3
4  1    r    t

In [ ]:
k.value_counts()

A  B  C
1  r  t    2
t  3  3    1
Name: count, dtype: int64

In [ ]:
k["B"].value_counts()

B
r    2
3    1
Name: count, dtype: int64

In [ ]:
k["B"].unique()

array(['r', nan, '3'], dtype=object)

In [ ]:
k["B"].nunique() # number of uniq value (will not include nan)

2

In [ ]:
k.nunique()

A    3
B    2
C    2
dtype: int64

In [ ]:
# Data selection (con'd)
# selection with iloc 
piza.iloc[0:5,1:]

,name,category,ingredients
0,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."

In [ ]:
piza.iloc[-5:,-2:]

   category                                        ingredients
27   Veggie  Spinach, Artichokes, Kalamata Olives, Sun-drie...
28   Veggie  Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
29   Veggie  Spinach, Artichokes, Tomatoes, Sun-dried Tomat...
30   Veggie  Spinach, Mushrooms, Red Onions, Feta Cheese, G...
31   Veggie  Mushrooms, Tomatoes, Red Peppers, Green Pepper...

# filtering

In [ ]:
# Row and column filter (index filter)
data1.iloc[[10,20,30],:] # manually
data1.filter(regex=r"^\d0$",axis=0)
# for axis= 1 --> column
# for axis= 0 --> row

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
10,3,Email,c40f2602-8a7c-429e-bf13-cb1ec9e5f92f,9,89.49,4,28,Texas
20,1,Email,ad1d8be5-aa0a-41e1-bbc6-7889b4a14521,9,90.51,4,25,Texas
30,2,Call,4a789e3f-76fe-43c9-9c6c-00eccca55954,9,43.13,5,27,Georgia
40,2,Call,9466aca7-ccd7-4be0-85da-a22d301fd5c5,9,43.01,7,29,Florida
50,5,Email + Call,6c62ab37-84d9-40ac-af7e-572bc906de64,13,188.87,0,26,Texas
60,1,Email,e5a3031f-a239-49a3-a157-870b58b458ac,9,86.90,2,18,Oklahoma
70,2,Call,25ba0890-1ca2-4821-916b-e659555b1266,9,45.58,19,24,Kansas
80,5,Email,eb9cfaf4-7f4e-4b76-8028-bec21f5bb3f9,10,104.46,14,18,Maryland
90,1,Email,f1a7d98f-10ee-4850-b75c-79ed68eca614,8,82.94,14,19,North Carolina

In [ ]:
data1.filter(like="_")

,sales_method,customer_id,nb_sold,years_as_customer,nb_site_visits
0,Email,2e72d641-95ac-497b-bbf8-4861764a7097,10,0,24
1,Email + Call,3998a98d-70f5-44f7-942e-789bb8ad2fe7,15,1,28
2,Call,d1de9884-8059-4065-b10f-86eef57e4a44,11,6,26
3,Email,78aa75a4-ffeb-4817-b1d0-2f030783c5d7,11,3,25
4,Email,10e6d446-10a5-42e5-8210-1b5438f70922,9,0,28
...,...,...,...,...,...
14995,Call,17267b41-d048-4346-8b90-7f787690a836,10,0,22
14996,Call,09e10d6f-4508-4b27-895e-4db11ce8302b,10,1,27
14997,Call,839653cb-68c9-48cb-a097-0a5a3b2b298b,7,4,22
14998,Call,e4dad70a-b23b-407c-8bd3-e32ea00fae17,13,2,27
14999,Email + Call,4e077235-7c17-4054-9997-7a890336a214,13,4,25

# filering data

In [ ]:
# method 1 
cond_wk_grater_than_4 = data1["week"] > 4
data1[cond_wk_grater_than_4]

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
1,6,Email + Call,3998a98d-70f5-44f7-942e-789bb8ad2fe7,15,225.47,1,28,Kansas
2,5,Call,d1de9884-8059-4065-b10f-86eef57e4a44,11,52.55,6,26,Wisconsin
5,6,Call,6489e678-40f2-4fed-a48e-d0dff9c09205,13,65.01,10,24,Mississippi
8,5,Email,771586bd-7b64-40be-87df-afe884d2af9e,11,108.34,10,31,Massachusetts
9,5,Call,56491dae-bbe7-49f0-a651-b823a01103d8,11,53.82,7,23,Missouri
...,...,...,...,...,...,...,...,...
14982,5,Email + Call,dde667d0-e963-4a2e-a1b7-f2f341a0d245,13,190.23,2,26,Virginia
14992,5,Email + Call,cd9e6945-ae21-4bed-a6cf-f0302e6c4795,12,NaN,1,34,New York
14996,5,Call,09e10d6f-4508-4b27-895e-4db11ce8302b,10,52.33,1,27,Kansas
14998,6,Call,e4dad70a-b23b-407c-8bd3-e32ea00fae17,13,64.90,2,27,New Jersey
14999,5,Email + Call,4e077235-7c17-4054-9997-7a890336a214,13,NaN,4,25,Illinois

In [ ]:
data1

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
0,2,Email,2e72d641-95ac-497b-bbf8-4861764a7097,10,NaN,0,24,Arizona
1,6,Email + Call,3998a98d-70f5-44f7-942e-789bb8ad2fe7,15,225.47,1,28,Kansas
2,5,Call,d1de9884-8059-4065-b10f-86eef57e4a44,11,52.55,6,26,Wisconsin
3,4,Email,78aa75a4-ffeb-4817-b1d0-2f030783c5d7,11,NaN,3,25,Indiana
4,3,Email,10e6d446-10a5-42e5-8210-1b5438f70922,9,90.49,0,28,Illinois
...,...,...,...,...,...,...,...,...
14995,4,Call,17267b41-d048-4346-8b90-7f787690a836,10,50.82,0,22,Pennsylvania
14996,5,Call,09e10d6f-4508-4b27-895e-4db11ce8302b,10,52.33,1,27,Kansas
14997,1,Call,839653cb-68c9-48cb-a097-0a5a3b2b298b,7,34.87,4,22,West Virginia
14998,6,Call,e4dad70a-b23b-407c-8bd3-e32ea00fae17,13,64.90,2,27,New Jersey
14999,5,Email + Call,4e077235-7c17-4054-9997-7a890336a214,13,NaN,4,25,Illinois

In [ ]:
# in pandas:
# ~ means not
# & means and 
# | means or 
# for example 
# creating condition for week = 2 and nb_sold grater than 15 
cond1 = (data1["week"] == 2) & (data1["nb_sold"] > 10)
data1[cond1]

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
63,2,Email,7c51acc8-fc18-46b0-a343-0708bf2d2ced,11,105.92,2,21,Florida
110,2,Email + Call,c21cd0cf-c3ab-4e39-8ea0-da55f8f09bc5,11,NaN,3,25,Louisiana
200,2,Email,fb051d02-7a78-4fbb-8eb6-d6e18fd372c4,11,106.49,7,24,Missouri
228,2,Email,20bcccc8-ecee-4e8c-b759-a8adf81f54db,11,105.69,2,29,Texas
271,2,Email,0eb3e785-051f-4a73-8bb4-b512793a570a,11,111.75,9,24,Texas
...,...,...,...,...,...,...,...,...
14409,2,Email,ca449a41-042c-4c9c-b369-66b144c1b6f4,11,108.51,7,16,Massachusetts
14580,2,Email + Call,026570c9-c13a-4487-a326-22f5e866f220,11,157.77,3,30,Wisconsin
14602,2,Email,ee9cd56a-33bd-4a03-83d1-294fdc2147f7,11,107.75,8,26,Arizona
14856,2,Email,56938ab3-bed9-4721-bf76-b6e59c98dbdc,11,109.28,0,24,California
14878,2,Email,30ca5338-c322-4abf-a496-8d23fba2e3fe,11,108.68,4,24,West Virginia

In [ ]:
cond1 = ~(data1["week"] == 2) & (data1["nb_sold"] > 10) #not week 2
data1[cond1]

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
1,6,Email + Call,3998a98d-70f5-44f7-942e-789bb8ad2fe7,15,225.47,1,28,Kansas
2,5,Call,d1de9884-8059-4065-b10f-86eef57e4a44,11,52.55,6,26,Wisconsin
3,4,Email,78aa75a4-ffeb-4817-b1d0-2f030783c5d7,11,NaN,3,25,Indiana
5,6,Call,6489e678-40f2-4fed-a48e-d0dff9c09205,13,65.01,10,24,Mississippi
6,4,Email,eb6bd5f1-f115-4e4b-80a6-5e67fcfbfb94,11,113.38,9,28,Georgia
...,...,...,...,...,...,...,...,...
14984,4,Email + Call,e599ac4d-4634-49a6-b373-04c021d3a1ab,12,180.71,9,28,South Carolina
14992,5,Email + Call,cd9e6945-ae21-4bed-a6cf-f0302e6c4795,12,NaN,1,34,New York
14994,4,Email,56f02e26-3633-427d-8c4e-f45f00afa787,11,109.36,3,25,Ohio
14998,6,Call,e4dad70a-b23b-407c-8bd3-e32ea00fae17,13,64.90,2,27,New Jersey
14999,5,Email + Call,4e077235-7c17-4054-9997-7a890336a214,13,NaN,4,25,Illinois

In [ ]:
cond2 = data1["nb_sold"].gt(11) # greater than
data1[cond2]
# explore lt, eq, le, ge

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
1,6,Email + Call,3998a98d-70f5-44f7-942e-789bb8ad2fe7,15,225.47,1,28,Kansas
5,6,Call,6489e678-40f2-4fed-a48e-d0dff9c09205,13,65.01,10,24,Mississippi
17,6,Email + Call,d10690f0-6f63-409f-a1da-8ab0e5388390,15,NaN,0,24,Wisconsin
28,5,Email,f64f8fd5-e9b7-4326-9f5d-ef283f14d7ad,12,NaN,4,32,Florida
34,5,Email + Call,4a7ca51d-34c7-4fd2-a90f-c9104b636269,13,190.39,8,26,Illinois
...,...,...,...,...,...,...,...,...
14982,5,Email + Call,dde667d0-e963-4a2e-a1b7-f2f341a0d245,13,190.23,2,26,Virginia
14984,4,Email + Call,e599ac4d-4634-49a6-b373-04c021d3a1ab,12,180.71,9,28,South Carolina
14992,5,Email + Call,cd9e6945-ae21-4bed-a6cf-f0302e6c4795,12,NaN,1,34,New York
14998,6,Call,e4dad70a-b23b-407c-8bd3-e32ea00fae17,13,64.90,2,27,New Jersey
14999,5,Email + Call,4e077235-7c17-4054-9997-7a890336a214,13,NaN,4,25,Illinois

In [ ]:
data1
# where there is missing vale inside revenue
cond4 = data1["revenue"].isnull() 
data1[cond4]
# filtering for multiple content
cond5 = data1["state"].isin(['New Jersey', 'Connecticut'])
data1[cond5]

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
71,5,Email,0e8e3182-292f-490a-bec5-f67969f73a7e,10,102.82,6,25,New Jersey
72,5,Call,b494929e-92ac-4b49-9bfa-f9b82cb65408,10,52.44,10,29,Connecticut
89,1,Call,a1651d36-f88a-4535-882b-40f132bd72a0,7,33.63,3,16,Connecticut
92,2,Email,6ffdca0f-8054-4d1f-99cb-5b510a1e57cf,10,100.38,2,28,New Jersey
119,2,Email,fddf0d18-4f0b-4d28-b5f3-bb459fc9e0c4,10,96.02,4,23,Connecticut
...,...,...,...,...,...,...,...,...
14757,5,Email + Call,0e4ed78c-c11c-481a-9a6c-fc6ad3426bf3,12,187.43,3,29,Connecticut
14793,4,Email,21433c66-15cc-4e76-bf2a-a1c2003c73d7,11,106.05,10,30,New Jersey
14946,1,Call,56533105-95ce-4bfd-8a3f-71e73bc5aa20,7,34.48,9,19,New Jersey
14983,1,Email + Call,bec6d233-f7ad-401f-9c2e-54fed5ce2937,9,131.39,2,23,Connecticut
14998,6,Call,e4dad70a-b23b-407c-8bd3-e32ea00fae17,13,64.90,2,27,New Jersey

In [ ]:
data1["state"].unique()

array(['Arizona', 'Kansas', 'Wisconsin', 'Indiana', 'Illinois',
       'Mississippi', 'Georgia', 'Oklahoma', 'Massachusetts', 'Missouri',
       'Texas', 'New York', 'Maryland', 'California', 'Tennessee',
       'Pennsylvania', 'North Dakota', 'Florida', 'Michigan',
       'North Carolina', 'Hawaii', 'Colorado', 'Louisiana', 'Virginia',
       'New Mexico', 'Arkansas', 'Alaska', 'Oregon', 'New Hampshire',
       'Ohio', 'New Jersey', 'Connecticut', 'Iowa', 'Montana',
       'Washington', 'Kentucky', 'Alabama', 'Nebraska', 'South Carolina',
       'Minnesota', 'South Dakota', 'Delaware', 'Maine', 'Utah',
       'West Virginia', 'Vermont', 'Rhode Island', 'Nevada', 'Idaho',
       'Wyoming'], dtype=object)

# sorting

In [ ]:
# sorting by contents 
# by default it is in ascending order 
data1.sort_values(by=["nb_sold"])

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
7067,1,Call,9d23a71d-e56c-4b50-a4e6-8a4b94fbf228,7,34.49,6,19,Connecticut
773,1,Call,12218b83-b91d-4af2-94bb-736cd08be4ec,7,34.59,3,18,Montana
770,1,Call,ac19b19e-e614-4b1e-a985-f0d9082209e1,7,35.88,14,21,Virginia
12422,1,Call,bca40539-2036-492a-acd6-a0b638897a87,7,34.37,12,16,Ohio
11572,1,Call,244fb05a-7013-4d07-8908-160eb419996a,7,34.02,30,18,Illinois
...,...,...,...,...,...,...,...,...
4374,6,Email + Call,80644239-745b-41e7-883a-21350495db46,16,232.83,2,32,Texas
4238,6,Email + Call,68c72896-b99a-44e8-89ac-061ef612f20e,16,235.59,6,32,North Carolina
14054,6,Email + Call,26b35552-0d19-4e8b-bdf8-c9bd3b9dba68,16,NaN,3,29,Michigan
213,6,Email + Call,00dc7276-7b92-4642-9d24-69c841286964,16,232.86,1,33,Michigan
3490,6,Email + Call,21513a8f-f7aa-4ff7-b212-b213117c5a07,16,238.32,0,36,North Carolina

In [ ]:
data1.sort_values(by=["nb_sold"],ascending=False)

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
5591,6,Email + Call,aafa1bb4-aea8-45c7-9704-9d732d8bcb6f,16,232.79,2,32,New Jersey
1760,6,Email + Call,4aba322a-0532-4925-b7ae-c51d9dc359ef,16,232.89,3,36,Florida
1743,6,Email + Call,7fc56abe-dbf1-418a-988c-08e33ebe30bd,16,233.39,1,32,Oregon
735,6,Email + Call,0002aed1-1a1f-4b20-845f-7a4b8cc9977a,16,237.19,2,29,California
575,6,Email + Call,a0b8123a-0f92-4152-8ea0-cc732e452f49,16,234.03,6,29,California
...,...,...,...,...,...,...,...,...
7362,1,Call,e8415eca-907b-4044-85f3-7669635a1140,7,37.04,4,24,Michigan
9837,1,Call,3d283da1-0682-4185-a060-803455a895a3,7,34.35,1,17,Illinois
1049,1,Call,5ea7c95e-b714-4cd2-a939-9781a0e0cef0,7,32.54,3,18,Oklahoma
1078,1,Call,6c79f598-7229-483e-ab8d-da685a466e9d,7,32.62,12,16,Michigan
9804,1,Call,8fcb1f7b-ae0d-427e-a5f4-876c83fe46c7,7,33.73,5,21,Missouri

In [ ]:
pip install pyjanitor

Requirement already satisfied: pyjanitor in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (0.31.0)
Requirement already satisfied: natsort in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pyjanitor) (8.4.0)
Requirement already satisfied: pandas_flavor in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pyjanitor) (0.6.0)
Requirement already satisfied: multipledispatch in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pyjanitor) (1.0.0)
Requirement already satisfied: scipy in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pyjanitor) (1.14.1)
Requirement already satisfied: pandas>=0.23 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pandas_flavor->pyjanitor) (2.2.3)
Requirement already satisfied: xarray in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pandas_flavor->pyjanitor) (2024.10.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.23->pandas_flavor->pyjanitor) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.23->pandas_flavor->pyjanitor) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.23->pandas_flavor->pyjanitor) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.23->pandas_flavor->pyjanitor) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_flavor->pyjanitor) (1.16.0)
Requirement already satisfied: packaging>=23.1 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from xarray->pandas_flavor->pyjanitor) (24.1)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# reordering columns 
import janitor
nw = data1.reorder_columns(["week","nb_sold",
                      "years_as_customer",
                      "state"])

In [ ]:
# sorting by multiple colums 
nw.sort_values(by=["week",
                   "nb_sold",
                   "state"],
                   ascending=[True,False,False])

,week,nb_sold,years_as_customer,state,sales_method,customer_id,revenue,nb_site_visits
4948,1,11,12,Virginia,Email,883c8bfb-1570-477d-8370-d6a7831395dc,107.82,28
6255,1,11,1,Utah,Email,f1ef38f4-0ff1-4bad-9957-a841c30884c4,107.35,23
9315,1,11,8,Rhode Island,Email,4bb01624-d67b-42f0-aa35-358675715746,109.33,27
8835,1,11,8,Pennsylvania,Email,e924b1d4-6514-4881-9665-e6b0a4ccb836,NaN,26
13293,1,11,2,Oregon,Email,cfd0d12c-b2f9-4998-bdc1-422cdc500352,112.05,25
...,...,...,...,...,...,...,...,...
4055,6,12,4,North Carolina,Email,45dcbdb2-1a0f-42d5-9a5e-5ce026e89c19,124.05,31
5434,6,12,7,North Carolina,Email,fc9f725b-16d1-4a65-b99d-e16eac635fd8,124.68,33
2061,6,12,0,Nevada,Email,0ae38940-6579-415e-9439-07785c6d846b,124.47,33
7244,6,12,1,Georgia,Email,69d4912a-9ac0-4b44-88db-2aadfb1f7c20,124.64,26
3454,6,12,1,California,Email,1cdecb07-1ede-4ac9-b824-46cc4cd0fcc4,123.48,29

In [ ]:
vv = pd.read_clipboard()
vv

  first name other names FATther's Occupation  Wieves
0        gjg         ela             capenter     NaN
1        NaN         NaN                  NaN     NaN
2         jj      okocha                  NaN     NaN
3        NaN         NaN                  NaN     NaN
4         gh         hjh                kyhjh     NaN
5        dyh         jgj                  hhg     NaN

In [ ]:
vv.clean_names()

  first_name other_names fatthers_occupation  wieves
0        gjg         ela            capenter     NaN
1        NaN         NaN                 NaN     NaN
2         jj      okocha                 NaN     NaN
3        NaN         NaN                 NaN     NaN
4         gh         hjh               kyhjh     NaN
5        dyh         jgj                 hhg     NaN

In [ ]:
vv.remove_empty(reset_index=False)

  first name other names FATther's Occupation
0        gjg         ela             capenter
2         jj      okocha                  NaN
4         gh         hjh                kyhjh
5        dyh         jgj                  hhg

In [ ]:
vv.remove_columns
# del data1["week"]
data1

,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
0,Email,2e72d641-95ac-497b-bbf8-4861764a7097,10,NaN,0,24,Arizona
1,Email + Call,3998a98d-70f5-44f7-942e-789bb8ad2fe7,15,225.47,1,28,Kansas
2,Call,d1de9884-8059-4065-b10f-86eef57e4a44,11,52.55,6,26,Wisconsin
3,Email,78aa75a4-ffeb-4817-b1d0-2f030783c5d7,11,NaN,3,25,Indiana
4,Email,10e6d446-10a5-42e5-8210-1b5438f70922,9,90.49,0,28,Illinois
...,...,...,...,...,...,...,...
14995,Call,17267b41-d048-4346-8b90-7f787690a836,10,50.82,0,22,Pennsylvania
14996,Call,09e10d6f-4508-4b27-895e-4db11ce8302b,10,52.33,1,27,Kansas
14997,Call,839653cb-68c9-48cb-a097-0a5a3b2b298b,7,34.87,4,22,West Virginia
14998,Call,e4dad70a-b23b-407c-8bd3-e32ea00fae17,13,64.90,2,27,New Jersey
14999,Email + Call,4e077235-7c17-4054-9997-7a890336a214,13,NaN,4,25,Illinois

In [ ]:
# sorting by index/column
data1 = data1.sample(frac=1)
data1

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
14944,2,Email,7e53f18f-3fea-4c6b-8630-8e11463404f7,10,102.38,7,33,Oregon
11159,5,Email + Call,172b5399-02cf-472c-b8d4-8054eee81b98,13,189.11,11,24,Oregon
3250,6,Email + Call,4937abea-eb2f-4cc2-b918-7c1106e3f277,15,227.82,0,33,Georgia
8413,3,Call,8279fe04-e1a1-4424-bf77-62651f0f0dd8,8,NaN,2,19,Ohio
1889,6,Email + Call,a26a2539-ba55-4b4d-b927-24180457d2bd,15,226.41,7,35,Kansas
...,...,...,...,...,...,...,...,...
6353,5,Email + Call,b1ab3e83-2d73-4f7c-997b-a62985ee5381,12,186.71,6,28,Texas
10796,5,Email + Call,2e6716a3-3fd3-454d-b974-96395529a3ac,13,187.86,1,25,Pennsylvania
1480,1,Email,abf3a27c-0637-4a8d-903b-1ff5d8e22bbc,9,90.16,2,24,Virginia
13492,1,Email,dab5b5b7-a4a2-4431-94f3-9345f8d5fce8,8,82.70,1,23,California
1520,4,Email,6f0fd563-085e-435d-b201-a9f90b5a9356,11,107.74,0,23,Michigan

In [ ]:
# sorting by index 
data1.sort_index(ascending=False).loc[1:5,:]

Empty DataFrame
Columns: [week, sales_method, customer_id, nb_sold, revenue, years_as_customer, nb_site_visits, state]
Index: []

In [ ]:
data1

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
14944,2,Email,7e53f18f-3fea-4c6b-8630-8e11463404f7,10,102.38,7,33,Oregon
11159,5,Email + Call,172b5399-02cf-472c-b8d4-8054eee81b98,13,189.11,11,24,Oregon
3250,6,Email + Call,4937abea-eb2f-4cc2-b918-7c1106e3f277,15,227.82,0,33,Georgia
8413,3,Call,8279fe04-e1a1-4424-bf77-62651f0f0dd8,8,NaN,2,19,Ohio
1889,6,Email + Call,a26a2539-ba55-4b4d-b927-24180457d2bd,15,226.41,7,35,Kansas
...,...,...,...,...,...,...,...,...
6353,5,Email + Call,b1ab3e83-2d73-4f7c-997b-a62985ee5381,12,186.71,6,28,Texas
10796,5,Email + Call,2e6716a3-3fd3-454d-b974-96395529a3ac,13,187.86,1,25,Pennsylvania
1480,1,Email,abf3a27c-0637-4a8d-903b-1ff5d8e22bbc,9,90.16,2,24,Virginia
13492,1,Email,dab5b5b7-a4a2-4431-94f3-9345f8d5fce8,8,82.70,1,23,California
1520,4,Email,6f0fd563-085e-435d-b201-a9f90b5a9356,11,107.74,0,23,Michigan

In [ ]:
data1.sort_index().loc[1:5,:]

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
1,6,Email + Call,3998a98d-70f5-44f7-942e-789bb8ad2fe7,15,225.47,1,28,Kansas
2,5,Call,d1de9884-8059-4065-b10f-86eef57e4a44,11,52.55,6,26,Wisconsin
3,4,Email,78aa75a4-ffeb-4817-b1d0-2f030783c5d7,11,NaN,3,25,Indiana
4,3,Email,10e6d446-10a5-42e5-8210-1b5438f70922,9,90.49,0,28,Illinois
5,6,Call,6489e678-40f2-4fed-a48e-d0dff9c09205,13,65.01,10,24,Mississippi

In [ ]:
data1.sort_index(axis=1).loc[:,"customer_id":"revenue"]

                                customer_id  nb_site_visits  nb_sold  revenue
14944  7e53f18f-3fea-4c6b-8630-8e11463404f7              33       10   102.38
11159  172b5399-02cf-472c-b8d4-8054eee81b98              24       13   189.11
3250   4937abea-eb2f-4cc2-b918-7c1106e3f277              33       15   227.82
8413   8279fe04-e1a1-4424-bf77-62651f0f0dd8              19        8      NaN
1889   a26a2539-ba55-4b4d-b927-24180457d2bd              35       15   226.41
...                                     ...             ...      ...      ...
6353   b1ab3e83-2d73-4f7c-997b-a62985ee5381              28       12   186.71
10796  2e6716a3-3fd3-454d-b974-96395529a3ac              25       13   187.86
1480   abf3a27c-0637-4a8d-903b-1ff5d8e22bbc              24        9    90.16
13492  dab5b5b7-a4a2-4431-94f3-9345f8d5fce8              23        8    82.70
1520   6f0fd563-085e-435d-b201-a9f90b5a9356              23       11   107.74

[15000 rows x 4 columns]

In [ ]:
data1 = data1.sample(frac=1,axis=1)
data1.loc[:,"customer_id":"revenue"]

Empty DataFrame
Columns: []
Index: [14944, 11159, 3250, 8413, 1889, 11276, 12736, 6029, 8770, 9387, 14799, 5672, 3129, 4006, 11403, 9595, 1174, 8115, 13750, 10483, 8257, 4855, 3611, 9910, 12997, 4742, 5941, 7080, 14108, 5937, 2984, 1627, 6991, 4412, 7542, 13049, 5891, 12856, 656, 8473, 703, 14719, 8608, 12955, 1337, 9897, 10725, 13281, 6422, 1680, 5607, 8515, 2068, 12979, 6459, 1914, 14503, 6411, 6568, 4686, 764, 458, 6371, 8865, 14433, 1524, 14743, 6656, 6641, 13316, 3536, 3581, 1745, 785, 14320, 5166, 2600, 13872, 13564, 3940, 6612, 4850, 10003, 14965, 12790, 10605, 1503, 5354, 5601, 7029, 14694, 10857, 6791, 4548, 11991, 6847, 2630, 9725, 13148, 10990, ...]

[15000 rows x 0 columns]

# Column creation

In [ ]:
data1["my_col"] = 1
data1["state_in caps"] = data1["state"].str.upper()
data1
data1["rubiss"] = data1["sales_method"] + "***" + data1["state"]
data1

,nb_sold,nb_site_visits,week,sales_method,state,revenue,years_as_customer,customer_id,my_col,state_in caps,rubiss
14944,10,33,2,Email,Oregon,102.38,7,7e53f18f-3fea-4c6b-8630-8e11463404f7,1,OREGON,Email***Oregon
11159,13,24,5,Email + Call,Oregon,189.11,11,172b5399-02cf-472c-b8d4-8054eee81b98,1,OREGON,Email + Call***Oregon
3250,15,33,6,Email + Call,Georgia,227.82,0,4937abea-eb2f-4cc2-b918-7c1106e3f277,1,GEORGIA,Email + Call***Georgia
8413,8,19,3,Call,Ohio,NaN,2,8279fe04-e1a1-4424-bf77-62651f0f0dd8,1,OHIO,Call***Ohio
1889,15,35,6,Email + Call,Kansas,226.41,7,a26a2539-ba55-4b4d-b927-24180457d2bd,1,KANSAS,Email + Call***Kansas
...,...,...,...,...,...,...,...,...,...,...,...
6353,12,28,5,Email + Call,Texas,186.71,6,b1ab3e83-2d73-4f7c-997b-a62985ee5381,1,TEXAS,Email + Call***Texas
10796,13,25,5,Email + Call,Pennsylvania,187.86,1,2e6716a3-3fd3-454d-b974-96395529a3ac,1,PENNSYLVANIA,Email + Call***Pennsylvania
1480,9,24,1,Email,Virginia,90.16,2,abf3a27c-0637-4a8d-903b-1ff5d8e22bbc,1,VIRGINIA,Email***Virginia
13492,8,23,1,Email,California,82.70,1,dab5b5b7-a4a2-4431-94f3-9345f8d5fce8,1,CALIFORNIA,Email***California
1520,11,23,4,Email,Michigan,107.74,0,6f0fd563-085e-435d-b201-a9f90b5a9356,1,MICHIGAN,Email***Michigan

In [ ]:
data1["week x 2"] = data1["week"] *2
data1 ["state"] = data1["state"].str[:3].str.upper()

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state,week x 2
0,2,Email,2e72d641-95ac-497b-bbf8-4861764a7097,10,NaN,0,24,ARI,4
1,6,Email + Call,3998a98d-70f5-44f7-942e-789bb8ad2fe7,15,225.47,1,28,KAN,12
2,5,Call,d1de9884-8059-4065-b10f-86eef57e4a44,11,52.55,6,26,WIS,10
3,4,Email,78aa75a4-ffeb-4817-b1d0-2f030783c5d7,11,NaN,3,25,IND,8
4,3,Email,10e6d446-10a5-42e5-8210-1b5438f70922,9,90.49,0,28,ILL,6
...,...,...,...,...,...,...,...,...,...
14995,4,Call,17267b41-d048-4346-8b90-7f787690a836,10,50.82,0,22,PEN,8
14996,5,Call,09e10d6f-4508-4b27-895e-4db11ce8302b,10,52.33,1,27,KAN,10
14997,1,Call,839653cb-68c9-48cb-a097-0a5a3b2b298b,7,34.87,4,22,WES,2
14998,6,Call,e4dad70a-b23b-407c-8bd3-e32ea00fae17,13,64.90,2,27,NEW,12
14999,5,Email + Call,4e077235-7c17-4054-9997-7a890336a214,13,NaN,4,25,ILL,10

In [ ]:
data1["sales_method"] = data1["sales_method"].str.replace(r"[A-Z]","***",regex=True)
data1

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state,week x 2
0,2,***mail,2e72d641-95ac-497b-bbf8-4861764a7097,10,NaN,0,24,ARI,4
1,6,***mail + ***all,3998a98d-70f5-44f7-942e-789bb8ad2fe7,15,225.47,1,28,KAN,12
2,5,***all,d1de9884-8059-4065-b10f-86eef57e4a44,11,52.55,6,26,WIS,10
3,4,***mail,78aa75a4-ffeb-4817-b1d0-2f030783c5d7,11,NaN,3,25,IND,8
4,3,***mail,10e6d446-10a5-42e5-8210-1b5438f70922,9,90.49,0,28,ILL,6
...,...,...,...,...,...,...,...,...,...
14995,4,***all,17267b41-d048-4346-8b90-7f787690a836,10,50.82,0,22,PEN,8
14996,5,***all,09e10d6f-4508-4b27-895e-4db11ce8302b,10,52.33,1,27,KAN,10
14997,1,***all,839653cb-68c9-48cb-a097-0a5a3b2b298b,7,34.87,4,22,WES,2
14998,6,***all,e4dad70a-b23b-407c-8bd3-e32ea00fae17,13,64.90,2,27,NEW,12
14999,5,***mail + ***all,4e077235-7c17-4054-9997-7a890336a214,13,NaN,4,25,ILL,10

In [ ]:
qq = pd.read_clipboard()
qq

   Product     Price
0  sd card       $67
1       mm       #76
2       tt    55 Yen
3       ry  67 naira

In [ ]:
qq["Price"] = qq["Price"].str.replace(r"\D","",regex=True)

qq

   Product Price
0  sd card    67
1       mm    76
2       tt    55
3       ry    67

In [ ]:
qq = qq.astype({"Price":"float"})
qq

   Product  Price
0  sd card   67.0
1       mm   76.0
2       tt   55.0
3       ry   67.0

In [ ]:
yy = pd.read_clipboard()
yy["full name"] = yy["F_name"] + " " + yy["Surname"]
yy

  F_name    Surname      full name
0    Ade  Ikechukwu  Ade Ikechukwu
1    Ewa    Ibrahim    Ewa Ibrahim
2   Fola   Aderogba  Fola Aderogba

0    IKECHUKWU
1      IBRAHIM
2     ADEROGBA
Name: Surname, dtype: object

In [ ]:
# Data transformation with map and apply method 
# 1. apply 
# with function defined 
def caps(series):
    return series.str.upper()
yy.apply (caps)
# with anonymous fuc 
yy.apply(lambda x: x.str.upper())

  F_name    Surname      full name
0    ADE  IKECHUKWU  ADE IKECHUKWU
1    EWA    IBRAHIM    EWA IBRAHIM
2   FOLA   ADEROGBA  FOLA ADEROGBA

In [ ]:
# 2. map 
# with defined func 
def uper (txt):
    return txt.upper()
yy.map(uper)
# with anonymous fuc 
yy.map(lambda x: x.upper())

  F_name    Surname      full name
0    ADE  IKECHUKWU  ADE IKECHUKWU
1    EWA    IBRAHIM    EWA IBRAHIM
2   FOLA   ADEROGBA  FOLA ADEROGBA

In [ ]:
import janitor
qq.transform_columns(column_names=["Product"],function=uper)

   Product  Price
0  SD CARD   67.0
1       MM   76.0
2       TT   55.0
3       RY   67.0

# Conditional column creatin

In [ ]:
rec = pd.read_clipboard()
rec

,Student name,Student ID,Department,Exam date,Score,status,Campus
0,Jacob Greer,1016-0027,Mathematics,20/10/2022,31,Fail,Main
1,Gisela Robertson,1009-0006,Chemistry,15/10/2022,34,Fail,Distance
2,Ryan Herman,1009-0010,Chemistry,15/10/2022,100,Pass,Distance
3,Ryder Combs,1016-0013,Mathematics,20/10/2022,56,Pass,Main
4,Georgia Gomez,1032-0007,Sociology,26/10/2022,32,Fail,Main
...,...,...,...,...,...,...,...
195,Cora Frazier,1009-0011,Chemistry,15/10/2022,92,Pass,Main
196,Alec Pittman,1016-0018,Mathematics,20/10/2022,38,Fail,Distance
197,Cora Fuentes,1027-0005,Physics,26/10/2022,20,Fail,Main
198,Ezra Brooks,1024-0034,Philosophy,24/10/2022,56,Pass,Distance
199,Mia Barry,1027-0021,Physics,26/10/2022,26,Fail,Main

In [ ]:
# SENARIO: Withdraw any main campus in math department that fail 
# getting the details with filtering using querry method 
rec.query(
    """
    Department == 'Mathematics' 
    and 
    Score < 50 
    and 
    Campus == 'Main'

""".replace("\n","")
)

        Student name Student ID   Department   Exam date  Score status Campus
0        Jacob Greer  1016-0027  Mathematics  20/10/2022     31   Fail   Main
6         Burke Horn  1016-0023  Mathematics  20/10/2022      6   Fail   Main
8        Aimee Eaton  1016-0007  Mathematics  20/10/2022     23   Fail   Main
23     Burton Holden  1016-0036  Mathematics  20/10/2022     26   Fail   Main
63      Jonas Vinson  1016-0035  Mathematics  20/10/2022     40   Fail   Main
65   Cally Wilkinson  1016-0025  Mathematics  20/10/2022     14   Fail   Main
78   Keefe Schneider  1016-0001  Mathematics  20/10/2022     48   Fail   Main
145   Kasper Ballard  1016-0002  Mathematics  20/10/2022      5   Fail   Main

In [ ]:
# creating the conditional col 
cond_1 = rec["Campus"] == "Main" # from main campus
cond_2 = rec["Department"] == "Mathematics" # from math depart
cond_3 = rec ["Score"] < 50 # failed
all_cond = cond_1 & cond_2 & cond_3 
import numpy as np 
rec["Withdrawal status"] = np.where(
    all_cond,"Withdraw","Retain"
)
rec.head(50)

,Student name,Student ID,Department,Exam date,Score,status,Campus,Withdrawal status
0,Jacob Greer,1016-0027,Mathematics,20/10/2022,31,Fail,Main,Withdraw
1,Gisela Robertson,1009-0006,Chemistry,15/10/2022,34,Fail,Distance,Retain
2,Ryan Herman,1009-0010,Chemistry,15/10/2022,100,Pass,Distance,Retain
3,Ryder Combs,1016-0013,Mathematics,20/10/2022,56,Pass,Main,Retain
4,Georgia Gomez,1032-0007,Sociology,26/10/2022,32,Fail,Main,Retain
5,Daryl Tillman,1024-0017,Philosophy,24/10/2022,65,Pass,Distance,Retain
6,Burke Horn,1016-0023,Mathematics,20/10/2022,6,Fail,Main,Withdraw
7,Rina Slater,1002-0018,Botany,10/05/2022 00:00,78,Pass,Main,Retain
8,Aimee Eaton,1016-0007,Mathematics,20/10/2022,23,Fail,Main,Withdraw
9,Meredith Parsons,1009-0003,Chemistry,15/10/2022,32,Fail,Main,Retain
10,Chiquita Gilmore,1024-0008,Philosophy,24/10/2022,23,Fail,Main,Retain
11,Ella Dunn,1024-0030,Philosophy,24/10/2022,32,Fail,Main,Retain
12,Brielle Thompson,1002-0030,Botany,10/05/2022 00:00,41,Fail,Distance,Retain
13,Pandora Orr,1024-0004,Philosophy,24/10/2022,91,Pass,Main,Retain
14,Ori Short,1009-0022,Chemistry,15/10/2022,50,Pass,Main,Retain
15,Shannon Fields,1032-0008,Sociology,26/10/2022,40,Fail,Distance,Retain
16,Nita Valdez,1032-0006,Sociology,26/10/2022,20,Fail,Main,Retain
17,Connor Shaw,1016-0037,Mathematics,20/10/2022,51,Pass,Main,Retain
18,Priscilla Higgins,1032-0026,Sociology,26/10/2022,80,Pass,Distance,Retain
19,Fuller Bush,1002-0026,Botany,10/05/2022 00:00,47,Fail,Distance,Retain
20,Christen Ballard,1002-0035,Botany,10/05/2022 00:00,97,Pass,Main,Retain
21,Stacy Small,1032-0039,Sociology,26/10/2022,96,Pass,Main,Retain
22,Yoshi Sherman,1002-0038,Botany,10/05/2022 00:00,48,Fail,Main,Retain
23,Burton Holden,1016-0036,Mathematics,20/10/2022,26,Fail,Main,Withdraw
24,Demetrius Castaneda,1032-0028,Sociology,26/10/2022,83,Pass,Distance,Retain
25,Ava Robertson,1016-0004,Mathematics,20/10/2022,70,Pass,Distance,Retain
26,Brooke Zimmerman,1032-0033,Sociology,26/10/2022,99,Pass,Distance,Retain
27,Jana Reed,1016-0009,Mathematics,20/10/2022,31,Fail,Distance,Retain
28,Kirestin Sweet,1032-0016,Sociology,26/10/2022,90,Pass,Distance,Retain
29,Xavier Coffey,1027-0013,Physics,26/10/2022,70,Pass,Distance,Retain
30,Ashton Nicholson,1027-0001,Physics,26/10/2022,69,Pass,Distance,Retain
31,Grady Decker,1032-0018,Sociology,26/10/2022,87,Pass,Distance,Retain
32,Dacey Baxter,1002-0036,Botany,10/05/2022 00:00,35,Fail,Main,Retain
33,Jakeem Rivera,1016-0015,Mathematics,20/10/2022,100,Pass,Distance,Retain
34,Hadassah Lowe,1009-0013,Chemistry,15/10/2022,84,Pass,Main,Retain
35,Tanisha Stanton,1016-0017,Mathematics,20/10/2022,60,Pass,Distance,Retain
36,Jamal Mercado,1027-0017,Physics,26/10/2022,67,Pass,Distance,Retain
37,Deirdre Flowers,1027-0006,Physics,26/10/2022,10,Fail,Distance,Retain
38,Constance Boone,1002-0008,Botany,10/05/2022 00:00,16,Fail,Distance,Retain
39,Caldwell Skinner,1002-0019,Botany,10/05/2022 00:00,92,Pass,Distance,Retain
40,Vincent Byers,1032-0001,Sociology,26/10/2022,70,Pass,Main,Retain
41,Kuame Harrell,1016-0030,Mathematics,20/10/2022,53,Pass,Distance,Retain
42,John Marshall,1002-0012,Botany,10/05/2022 00:00,55,Pass,Main,Retain
43,Octavius Chambers,1032-0017,Sociology,26/10/2022,38,Fail,Distance,Retain
44,Alfonso Love,1016-0010,Mathematics,20/10/2022,74,Pass,Distance,Retain
45,Myra Wall,1024-0003,Philosophy,24/10/2022,29,Fail,Main,Retain
46,Derek Burnett,1024-0021,Philosophy,24/10/2022,42,Fail,Main,Retain
47,Mercedes King,1009-0008,Chemistry,15/10/2022,22,Fail,Main,Retain
48,Justine Soto,1024-0010,Philosophy,24/10/2022,93,Pass,Distance,Retain
49,Hashim Gay,1002-0031,Botany,10/05/2022 00:00,78,Pass,Distance,Retain

In [ ]:
# rec["Department"].unique()
# SENARIO: score btwn 80 - 100 -> Bio science
#         score btwn 60 - 79 -> Physical science
#         score btwn 50 - 59 -> Art 
#         score < 50 -> no admisssion 
#         Math & phy -> phsical sci 
#         Chem & Bot - Bio science
#         Socilogy & phil - Arts

array(['Mathematics', 'Chemistry', 'Sociology', 'Philosophy', 'Botany',
       'Physics'], dtype=object)

In [ ]:
cond_a1 = rec["Department"].isin(['Chemistry','Botany'])
cond_a2 = rec["Score"].between(80,100) 
cond_b1 = rec["Department"].isin(['Mathematics','Physics'])
cond_b2 = rec["Score"].between(60,79) 
cond_c1 = rec["Department"].isin(["Sociology",'Philosophy'])
cond_c2 = rec["Score"].between(50,59) 
cond_A = cond_a1 & cond_a2
cond_B = cond_b1 & cond_b2
cond_C = cond_c1 & cond_c2
output = ["Admit to Bio sci","Admit to physical sci","Admit to Arts"]
rec["Admission status"] = np.select(
    [cond_A,cond_B,cond_C],
    output,
    "Not addmitted")
rec

,Student name,Student ID,Department,Exam date,Score,status,Campus,Withdrawal status,Admission status
0,Jacob Greer,1016-0027,Mathematics,20/10/2022,31,Fail,Main,Withdraw,Not addmitted
1,Gisela Robertson,1009-0006,Chemistry,15/10/2022,34,Fail,Distance,Retain,Not addmitted
2,Ryan Herman,1009-0010,Chemistry,15/10/2022,100,Pass,Distance,Retain,Admit to Bio sci
3,Ryder Combs,1016-0013,Mathematics,20/10/2022,56,Pass,Main,Retain,Not addmitted
4,Georgia Gomez,1032-0007,Sociology,26/10/2022,32,Fail,Main,Retain,Not addmitted
...,...,...,...,...,...,...,...,...,...
195,Cora Frazier,1009-0011,Chemistry,15/10/2022,92,Pass,Main,Retain,Admit to Bio sci
196,Alec Pittman,1016-0018,Mathematics,20/10/2022,38,Fail,Distance,Retain,Not addmitted
197,Cora Fuentes,1027-0005,Physics,26/10/2022,20,Fail,Main,Retain,Not addmitted
198,Ezra Brooks,1024-0034,Philosophy,24/10/2022,56,Pass,Distance,Retain,Admit to Arts
199,Mia Barry,1027-0021,Physics,26/10/2022,26,Fail,Main,Retain,Not addmitted

In [ ]:
rec["Student name"].str.contains("roony")

0      False
1      False
2      False
3      False
4      False
       ...
195    False
196    False
197    False
198    False
199    False
Name: Student name, Length: 200, dtype: bool

# Join

In [ ]:
import pandas as pd 
jd = pd.read_excel(
    r"C:\Users\Dell\Desktop\bt\jjj.xlsx",
    sheet_name=None # as dict
)
cust,prod,order,oi = jd.values()
cust.merge(order,
                     on="CustomerID",
                    #  how="left" INNER
                     )

   CustomerID       FullName           City Gender  OrderID   OrderDate
0           1    Amina Bello          Lagos      F        1  01-11-2024
1           1    Amina Bello          Lagos      F        4  04-11-2024
2           2     John Okoro          Abuja      M        3  03-11-2024
3           3  Clara Johnson  Port Harcourt      F        2  02-11-2024
4           4     David Musa           Kano      M        5  05-11-2024

In [ ]:
cust.merge(cust,
                     on="CustomerID",
                     how="left",
                     indicator=True,
                     validate="m:m"
                     )

,CustomerID,FullName_x,City_x,Gender_x,FullName_y,City_y,Gender_y,_merge
0,1,Amina Bello,Lagos,F,Amina Bello,Lagos,F,both
1,2,John Okoro,Abuja,M,John Okoro,Abuja,M,both
2,3,Clara Johnson,Port Harcourt,F,Clara Johnson,Port Harcourt,F,both
3,4,David Musa,Kano,M,David Musa,Kano,M,both
4,5,Peace Eze,Anambra,F,Peace Eze,Anambra,F,both
5,6,Tolu Adelabu,Abeokuta,M,Tolu Adelabu,Abeokuta,M,both

In [ ]:
cust.merge(order,
                     on="CustomerID",
                     how="right" 
                     )

   CustomerID       FullName           City Gender  OrderID   OrderDate
0           1    Amina Bello          Lagos      F        1  01-11-2024
1           3  Clara Johnson  Port Harcourt      F        2  02-11-2024
2           2     John Okoro          Abuja      M        3  03-11-2024
3           1    Amina Bello          Lagos      F        4  04-11-2024
4           4     David Musa           Kano      M        5  05-11-2024

In [ ]:
cust.merge(order,
                     on="CustomerID",
                     how="outer" 
                     )

   CustomerID       FullName           City Gender  OrderID   OrderDate
0           1    Amina Bello          Lagos      F      1.0  01-11-2024
1           1    Amina Bello          Lagos      F      4.0  04-11-2024
2           2     John Okoro          Abuja      M      3.0  03-11-2024
3           3  Clara Johnson  Port Harcourt      F      2.0  02-11-2024
4           4     David Musa           Kano      M      5.0  05-11-2024
5           5      Peace Eze        Anambra      F      NaN         NaN
6           6   Tolu Adelabu       Abeokuta      M      NaN         NaN

In [ ]:
ful_tab = cust.merge(order,
                     on="CustomerID",
                     how="inner" 
                     ).merge(
                         oi,
                         on="OrderID"
                     ).merge(
                         prod,
                         on="ProductID"
                     )
ful_tab

,CustomerID,FullName,City,Gender,OrderID,OrderDate,ProductID,Quantity,ProductName,Category,Price
0,1,Amina Bello,Lagos,F,1,01-11-2024,101,2,Rice (50kg),Food,35000
1,1,Amina Bello,Lagos,F,1,01-11-2024,103,4,Toothpaste,Toiletries,500
2,1,Amina Bello,Lagos,F,4,04-11-2024,106,2,Detergent (1kg),Toiletries,1200
3,2,John Okoro,Abuja,M,3,03-11-2024,102,1,Palm Oil (10L),Food,12000
4,3,Clara Johnson,Port Harcourt,F,2,02-11-2024,104,10,Notebook (A4),Stationery,300
5,4,David Musa,Kano,M,5,05-11-2024,105,3,Bathing Soap,Toiletries,400

In [ ]:
# Joinig on column name that are not spelled the same 
prod.merge(oi,right_on="ProductID",
           left_on="prod_id")

   prod_id      ProductName    Category  Price  OrderID  ProductID  Quantity
0      101      Rice (50kg)        Food  35000        1        101         2
1      102   Palm Oil (10L)        Food  12000        3        102         1
2      103       Toothpaste  Toiletries    500        1        103         4
3      104    Notebook (A4)  Stationery    300        2        104        10
4      105     Bathing Soap  Toiletries    400        5        105         3
5      106  Detergent (1kg)  Toiletries   1200        4        106         2

In [ ]:
# Adding suffix 
kk = prod.merge(oi,right_on="ProductID",
           left_on="prod_id",
           suffixes=["_pro","_oi"])
kk

,prod_id,ProductName,Category,Price,Quantity_pro,OrderID,ProductID,Quantity_oi
0,101,Rice (50kg),Food,35000,2,1,101,2
1,102,Palm Oil (10L),Food,12000,4,3,102,1
2,103,Toothpaste,Toiletries,500,10,1,103,4
3,104,Notebook (A4),Stationery,300,1,2,104,10
4,105,Bathing Soap,Toiletries,400,2,5,105,3
5,106,Detergent (1kg),Toiletries,1200,3,4,106,2

In [ ]:
# Merging by index 
obj_only = kk.select_dtypes("object") 
num_only = kk.select_dtypes("number") # both float & int 
obj_only = obj_only.map(str.upper)
num_only = num_only.map(lambda x: x*100)
num_only
# Join them back 
obj_only.merge(
    num_only,
    right_index=True,
    left_index=True
)

,ProductName,Category,prod_id,Price,Quantity_pro,OrderID,ProductID,Quantity_oi
0,RICE (50KG),FOOD,10100,3500000,200,100,10100,200
1,PALM OIL (10L),FOOD,10200,1200000,400,300,10200,100
2,TOOTHPASTE,TOILETRIES,10300,50000,1000,100,10300,400
3,NOTEBOOK (A4),STATIONERY,10400,30000,100,200,10400,1000
4,BATHING SOAP,TOILETRIES,10500,40000,200,500,10500,300
5,DETERGENT (1KG),TOILETRIES,10600,120000,300,400,10600,200

In [ ]:
?pd.DataFrame.merge

Signature:
pd.DataFrame.merge(
    self,
    right: 'DataFrame | Series',
    how: 'MergeHow' = 'inner',
    on: 'IndexLabel | AnyArrayLike | None' = None,
    left_on: 'IndexLabel | AnyArrayLike | None' = None,
    right_on: 'IndexLabel | AnyArrayLike | None' = None,
    left_index: 'bool' = False,
    right_index: 'bool' = False,
    sort: 'bool' = False,
    suffixes: 'Suffixes' = ('_x', '_y'),
    copy: 'bool | None' = None,
    indicator: 'str | bool' = False,
    validate: 'MergeValidate | None' = None,
) -> 'DataFrame'
Docstring:
Merge DataFrame or named Series objects with a database-style join.

A named Series object is treated as a DataFrame with a single named column.

The join is done on columns or indexes. If joining columns on
columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
on indexes or indexes on a column or columns, the index will be passed on.
When performing a cross merge, no column specifications to merge on are
allowed.

.. warning::

    If both key columns contain rows where the key is a null value, those
    rows will be matched against each other. This is different from usual SQL
    join behaviour and can lead to unexpected results.

Parameters
----------
right : DataFrame or named Series
    Object to merge with.
how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
    Type of merge to be performed.

    * left: use only keys from left frame, similar to a SQL left outer join;
      preserve key order.
    * right: use only keys from right frame, similar to a SQL right outer join;
      preserve key order.
    * outer: use union of keys from both frames, similar to a SQL full outer
      join; sort keys lexicographically.
    * inner: use intersection of keys from both frames, similar to a SQL inner
      join; preserve the order of the left keys.
    * cross: creates the cartesian product from both frames, preserves the order
      of the left keys.
on : label or list
    Column or index level names to join on. These must be found in both
    DataFrames. If `on` is None and not merging on indexes then this defaults
    to the intersection of the columns in both DataFrames.
left_on : label or list, or array-like
    Column or index level names to join on in the left DataFrame. Can also
    be an array or list of arrays of the length of the left DataFrame.
    These arrays are treated as if they are columns.
right_on : label or list, or array-like
    Column or index level names to join on in the right DataFrame. Can also
    be an array or list of arrays of the length of the right DataFrame.
    These arrays are treated as if they are columns.
left_index : bool, default False
    Use the index from the left DataFrame as the join key(s). If it is a
    MultiIndex, the number of keys in the other DataFrame (either the index
    or a number of columns) must match the number of levels.
right_index : bool, default False
    Use the index from the right DataFrame as the join key. Same caveats as
    left_index.
sort : bool, default False
    Sort the join keys lexicographically in the result DataFrame. If False,
    the order of the join keys depends on the join type (how keyword).
suffixes : list-like, default is ("_x", "_y")
    A length-2 sequence where each element is optionally a string
    indicating the suffix to add to overlapping column names in
    `left` and `right` respectively. Pass a value of `None` instead
    of a string to indicate that the column name from `left` or
    `right` should be left as-is, with no suffix. At least one of the
    values must not be None.
copy : bool, default True
    If False, avoid copy if possible.

    .. note::
        The `copy` keyword will change behavior in pandas 3.0.
        `Copy-on-Write
        <https://pandas.pydata.org/docs/dev/user_guide/copy_on_write.html>`__
        will be enabled by default, which means that all methods with a
        `copy` keyword will use a lazy copy mechanism to defer the copy and
        ignore the `copy` keyword. The `copy` keyword will be removed in a
        future version of pandas.

        You can already get the future behavior and improvements through
        enabling copy on write ``pd.options.mode.copy_on_write = True``
indicator : bool or str, default False
    If True, adds a column to the output DataFrame called "_merge" with
    information on the source of each row. The column can be given a different
    name by providing a string argument. The column will have a Categorical
    type with the value of "left_only" for observations whose merge key only
    appears in the left DataFrame, "right_only" for observations
    whose merge key only appears in the right DataFrame, and "both"
    if the observation's merge key is found in both DataFrames.

validate : str, optional
    If specified, checks if merge is of specified type.

    * "one_to_one" or "1:1": check if merge keys are unique in both
      left and right datasets.
    * "one_to_many" or "1:m": check if merge keys are unique in left
      dataset.
    * "many_to_one" or "m:1": check if merge keys are unique in right
      dataset.
    * "many_to_many" or "m:m": allowed, but does not result in checks.

Returns
-------
DataFrame
    A DataFrame of the two merged objects.

See Also
--------
merge_ordered : Merge with optional filling/interpolation.
merge_asof : Merge on nearest keys.
DataFrame.join : Similar method using indices.

Examples
--------
>>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [1, 2, 3, 5]})
>>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [5, 6, 7, 8]})
>>> df1
    lkey value
0   foo      1
1   bar      2
2   baz      3
3   foo      5
>>> df2
    rkey value
0   foo      5
1   bar      6
2   baz      7
3   foo      8

Merge df1 and df2 on the lkey and rkey columns. The value columns have
the default suffixes, _x and _y, appended.

>>> df1.merge(df2, left_on='lkey', right_on='rkey')
  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  bar        2  bar        6
3  baz        3  baz        7
4  foo        5  foo        5
5  foo        5  foo        8

Merge DataFrames df1 and df2 with specified left and right suffixes
appended to any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey',
...           suffixes=('_left', '_right'))
  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  bar           2  bar            6
3  baz           3  baz            7
4  foo           5  foo            5
5  foo           5  foo            8

Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
Traceback (most recent call last):
...
ValueError: columns overlap but no suffix specified:
    Index(['value'], dtype='object')

>>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
>>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
>>> df1
      a  b
0   foo  1
1   bar  2
>>> df2
      a  c
0   foo  3
1   baz  4

>>> df1.merge(df2, how='inner', on='a')
      a  b  c
0   foo  1  3

>>> df1.merge(df2, how='left', on='a')
      a  b  c
0   foo  1  3.0
1   bar  2  NaN

>>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
>>> df2 = pd.DataFrame({'right': [7, 8]})
>>> df1
    left
0   foo
1   bar
>>> df2
    right
0   7
1   8

>>> df1.merge(df2, how='cross')
   left  right
0   foo      7
1   foo      8
2   bar      7
3   bar      8
File:      c:\users\dell\appdata\local\programs\python\python313\lib\site-packages\pandas\core\frame.py
Type:      function

In [ ]:
j1 = pd.read_clipboard()

In [ ]:
j2 = pd.read_clipboard()

In [ ]:
pd.concat([j1,j2],
        #   ignore_index=True, reset index after concat
        # axis=0
        keys=["jss1","jss2"],
        
          )

        Name  score
jss1 0   ade     76
     1  sere     32
jss2 0   ife     32
     1   ema     56

# Aggregate statistics

In [ ]:
data1["revenue"].mean() #average
data1["revenue"].std() # standard deviatin
data1["revenue"].count()  # total num of nun-null value
data1["revenue"].sum()  # add all
data1["revenue"].min()  
data1["revenue"].max()
data1["revenue"].agg(["mean","median","std"])

mean      93.934943
median    89.500000
std       47.435312
Name: revenue, dtype: float64

# Data shaping

In [ ]:
import pandas as pd 
jd = pd.read_excel(
    r"C:\Users\Dell\Desktop\bt\jjj.xlsx",
    sheet_name=None # as dict
)
cust,prod,order,oi = jd.values()
cust

   CustomerID       FullName           City Gender
0           1    Amina Bello          Lagos      F
1           2     John Okoro          Abuja      M
2           3  Clara Johnson  Port Harcourt      F
3           4     David Musa           Kano      M
4           5      Peace Eze        Anambra      F
5           6   Tolu Adelabu       Abeokuta      M

In [ ]:
# transpose 
cust.T

,0,1,2,3,4,5
CustomerID,1,2,3,4,5,6
FullName,Amina Bello,John Okoro,Clara Johnson,David Musa,Peace Eze,Tolu Adelabu
City,Lagos,Abuja,Port Harcourt,Kano,Anambra,Abeokuta
Gender,F,M,F,M,F,M

In [ ]:
cust["City"].to_frame().T

          0      1              2     3        4         5
City  Lagos  Abuja  Port Harcourt  Kano  Anambra  Abeokuta

In [ ]:
# unpivoting / melt
lng_fmt = cust.melt(value_name="uuu",
                    var_name="yyy")
lng_fmt

           yyy            uuu
0   CustomerID              1
1   CustomerID              2
2   CustomerID              3
3   CustomerID              4
4   CustomerID              5
5   CustomerID              6
6     FullName    Amina Bello
7     FullName     John Okoro
8     FullName  Clara Johnson
9     FullName     David Musa
10    FullName      Peace Eze
11    FullName   Tolu Adelabu
12        City          Lagos
13        City          Abuja
14        City  Port Harcourt
15        City           Kano
16        City        Anambra
17        City       Abeokuta
18      Gender              F
19      Gender              M
20      Gender              F
21      Gender              M
22      Gender              F
23      Gender              M

In [ ]:
cust.melt(id_vars=["FullName"],
          value_vars=["City"],
          )

        FullName variable          value
0    Amina Bello     City          Lagos
1     John Okoro     City          Abuja
2  Clara Johnson     City  Port Harcourt
3     David Musa     City           Kano
4      Peace Eze     City        Anambra
5   Tolu Adelabu     City       Abeokuta

In [ ]:
cust.melt(id_vars=["FullName","CustomerID"],
          value_vars=["City","Gender"])

         FullName  CustomerID variable          value
0     Amina Bello           1     City          Lagos
1      John Okoro           2     City          Abuja
2   Clara Johnson           3     City  Port Harcourt
3      David Musa           4     City           Kano
4       Peace Eze           5     City        Anambra
5    Tolu Adelabu           6     City       Abeokuta
6     Amina Bello           1   Gender              F
7      John Okoro           2   Gender              M
8   Clara Johnson           3   Gender              F
9      David Musa           4   Gender              M
10      Peace Eze           5   Gender              F
11   Tolu Adelabu           6   Gender              M

In [ ]:
# pivoting 
lng_fmt["id"] = list(range(6)) * lng_fmt["yyy"].nunique()
lng_fmt.pivot(index="id",
              columns="yyy",
              values="uuu")

yyy           City CustomerID       FullName Gender
id
0            Lagos          1    Amina Bello      F
1            Abuja          2     John Okoro      M
2    Port Harcourt          3  Clara Johnson      F
3             Kano          4     David Musa      M
4          Anambra          5      Peace Eze      F
5         Abeokuta          6   Tolu Adelabu      M

In [ ]:
cust["nw_col"] = range(6)
cust.columns.name = "jjj"
cust.index.name = "ppp"
cust

jjj  CustomerID       FullName           City Gender  nw_col
ppp
0             1    Amina Bello          Lagos      F       0
1             2     John Okoro          Abuja      M       1
2             3  Clara Johnson  Port Harcourt      F       2
3             4     David Musa           Kano      M       3
4             5      Peace Eze        Anambra      F       4
5             6   Tolu Adelabu       Abeokuta      M       5

In [ ]:
#groupby
data1.groupby("sales_method")["revenue"].sum()

sales_method
Call            227563.49
Email           671630.75
Email + Call    404787.15
em + call         3469.54
email              687.08
Name: revenue, dtype: float64

In [ ]:
data1.groupby(["sales_method","week"]
              )["revenue"].agg(["mean","sum","max"])

                         mean        sum     max
sales_method week
Call         1      35.350243   26159.18   40.47
             2      43.602606   33792.02   50.19
             3      41.759528   36247.27   50.66
             4      51.446048   49593.99   57.74
             5      53.146087   53518.11   58.01
             6      66.166089   28252.92   71.36
Email        1      87.495976  229589.44  112.88
             2     100.139121  137891.57  124.24
             3      92.764882   98609.07  117.46
             4     108.878947  107572.40  137.65
             5     108.887859   74261.52  135.43
             6     130.976519   23706.75  148.97
Email + Call 1     128.917769   16759.31  136.36
             2     154.256588   26223.62  164.14
             3     150.440872   48291.52  159.55
             4     180.857283   77226.06  192.09
             5     187.608051  125134.57  198.32
             6     227.770635  111152.07  238.32
em + call    1     126.020000     126.02  126.02
             2     152.610000     152.61  152.61
             3     148.540000     445.62  150.47
             4     178.356667    1070.14  181.52
             5     186.127778    1675.15  190.90
email        1      88.055000     176.11   95.39
             2            NaN       0.00     NaN
             3      91.535000     183.07   92.19
             4     107.985000     215.97  109.72
             5     111.930000     111.93  111.93

In [ ]:
data1["sales_method"].sum()

'EmailEmail + CallCallEmailEmailCallEmailEmailEmailCallEmailCallCallEmailCallEmailEmailEmail + CallEmailEmailEmailEmail + Callem + callEmailCallCallEmailEmail + CallEmailCallCallEmailCallCallEmail + CallEmailCallEmailEmailCallCallEmailEmailEmailCallEmailEmailEmailCallEmailEmail + CallEmailCallCallEmailCallCallCallEmailEmailEmailCallCallEmailEmailEmailCallEmailCallEmailCallEmailCallCallEmailCallEmailEmailCallEmailEmailCallEmail + CallEmail + CallCallEmailCallEmailCallCallEmailEmailEmailEmail + CallEmailEmailCallCallEmail + CallEmail + CallEmailCallEmail + CallEmail + CallEmailEmailCallCallEmailEmailEmail + CallEmailCallCallEmail + CallCallEmailEmail + CallEmailEmailEmailEmailEmailEmailCallEmailEmailEmail + CallCallEmailCallEmailCallEmail + CallCallCallCallCallEmail + CallEmail + CallCallEmailCallEmail + CallCallEmailEmailEmailCallEmailEmailEmail + CallEmail + CallCallEmailEmail + CallCallEmail + CallEmailCallEmail + CallEmailEmailEmailEmailEmailEmail + CallEmailEmail + CallCallEmailEmailCallEmailEmailCallCallEmailEmailEmailEmailEmailEmailEmailCallEmail + CallEmail + CallEmailEmailCallCallEmailEmailEmail + CallEmailEmailEmail + CallEmailCallEmailEmailEmail + CallCallCallEmailEmailCallCallEmailEmail + CallEmailEmail + CallEmailEmail + CallCallEmailCallEmail + CallEmailCallEmailEmail + CallEmail + CallEmailEmail + CallCallCallCallEmailEmail + CallEmailEmailEmailEmailEmailEmail + CallEmailEmailEmailCallEmailCallCallEmailEmailEmailEmailEmailEmailEmailEmail + CallEmailCallEmailEmailCallEmailCallCallCallCallEmailEmail + CallCallEmailEmailEmailCallCallCallCallEmailEmailCallEmailEmailEmailCallCallCallEmailEmail + CallEmail + CallEmailCallEmailEmailEmail + CallEmail + CallCallEmailCallCallEmailEmailCallEmailCallCallEmail + CallEmailEmailEmail + CallCallEmailEmailCallEmailEmailEmailCallCallCallCallCallCallCallEmailCallEmail + CallEmailEmailEmailEmailCallEmailEmailCallCallEmailEmailEmailCallEmail + CallEmailEmailEmail + CallCallEmail + CallEmailEmailCallEmailEmailEmailCallCallCallEmailEmailEmailEmailEmailCallEmailEmailEmailEmail + CallCallEmail + CallEmailEmail + CallCallCallCallEmailEmail + CallEmailEmailCallEmailCallEmailEmailCallEmailEmail + CallEmailEmail + CallEmailEmailEmailEmail + CallCallEmailCallEmailEmail + CallEmailCallEmail + CallEmailEmailCallEmailEmailCallEmailCallEmailCallCallCallEmailEmailEmail + CallCallEmailEmailCallEmailEmailEmail + CallEmailCallCallEmailEmailCallEmailEmailEmailEmailCallEmailEmailEmailCallCallEmail + CallEmailEmailCallEmailEmail + CallEmailEmailEmailEmailCallEmailCallEmailEmailEmail + CallEmailEmailCallEmailCallCallEmailEmailEmailEmailEmailEmail + CallCallCallCallCallEmailCallEmailCallEmailEmailCallEmailCallCallEmail + CallCallEmailCallEmail + CallCallEmailCallEmailCallCallCallCallCallEmailEmailEmailCallEmailEmailCallCallCallEmailEmailEmailCallEmailEmailEmailEmail + CallEmailEmail + CallCallEmailEmailEmailEmail + CallEmailEmailCallCallCallCallEmailEmailEmailEmailEmailEmail + CallEmailEmailEmail + CallEmail + CallEmail + CallEmailEmailCallCallCallEmail + CallEmailEmailEmailEmailEmailEmail + CallEmailCallCallCallEmailCallEmail + CallEmail + CallCallEmail + CallEmailEmailEmailEmailCallEmail + CallEmailEmail + CallEmailCallEmail + CallEmail + CallEmailEmailEmailCallEmailEmailCallCallEmailCallEmail + CallEmailEmailEmail + CallEmailEmail + CallEmailCallEmailEmail + CallCallEmail + CallEmail + CallCallEmailEmailEmail + CallEmailEmailCallCallEmailEmailEmail + CallEmailEmail + CallEmail + CallEmail + CallCallEmailEmailCallEmailem + callEmailCallCallEmailEmail + CallEmailCallEmailEmailCallEmail + CallEmailEmailEmailCallEmailEmailEmail + CallEmailEmail + CallCallEmailCallEmailEmailEmailEmailCallEmailEmailCallEmailCallEmailEmailEmailEmailEmailEmailEmail + CallEmail + CallEmail + CallCallEmail + CallCallEmail + CallCallCallCallEmailEmailCallCallEmailEmailCallCallEmailCallCallCallCallEmail + CallEmailEmailEmailEmail + CallEmailEmail + CallEmail + CallEmailEmailCallEmailEmailCallEmailEmailEmailCallEmail + CallCallEmailEmailEmailEmailCallCallCallEmailEmail + CallEmailEmail + CallEmailEmailCallCallCallEmailCallCallCallEmail + CallEmail + CallEmailEmailCallEmailEmailEmailEmail + CallCallEmail + CallCallEmailEmailCallEmailCallEmailCallEmailEmailEmailEmailCallEmailCallCallCallEmailEmail + CallEmailEmailEmailCallCallCallEmailEmailEmail + CallEmailEmail + CallEmail + CallCallCallEmailEmail + CallEmail + CallCallEmail + CallEmailEmailEmailEmail + CallCallEmailEmailEmailEmailCallCallEmailEmailEmailCallCallEmailCallCallCallCallCallEmailEmail + CallCallEmailCallEmailEmailCallEmailEmailCallEmailEmail + CallEmailEmailEmailEmailEmailEmail + CallEmailEmailCallEmail + CallEmailEmailEmail + CallCallCallCallCallEmailEmailEmailEmailEmailEmail + CallEmailEmail + CallEmail + CallCallEmailCallEmailEmailCallEmailEmailCallEmailCallEmail + CallCallCallCallEmailEmailEmailEmail + CallEmail + CallCallEmailEmailEmail + CallEmailEmailEmail + CallEmailEmailEmailCallEmailEmailCallEmail + CallEmail + CallEmailEmailCallEmailEmailEmail + CallEmailEmailEmailEmailEmailEmailEmailCallCallCallEmailCallEmailEmailCallCallCallCallCallEmailCallCallEmailEmailEmailEmail + CallEmail + CallEmail + CallEmailCallEmailEmailCallEmailCallEmail + CallCallCallCallEmailEmailEmailEmailEmail + CallEmailEmailCallCallCallCallEmail + CallCallEmail + CallEmail + CallCallEmail + CallEmailEmailEmailEmail + CallCallCallCallEmail + CallCallEmailCallEmail + CallEmailEmailEmail + CallEmailEmailEmail + CallEmailEmail + CallEmail + CallEmailEmail + CallEmail + CallCallCallEmail + CallEmail + CallEmail + CallEmailCallCallCallEmailEmail + CallEmailEmail + CallEmail + CallEmail + CallEmail + Callem + callEmailEmailEmailEmailCallEmail + CallEmail + CallEmail + CallCallCallEmailCallCallEmailCallEmailEmailEmail + CallEmail + CallEmailEmailCallEmail + CallCallEmailCallEmail + CallEmail + CallCallEmailCallEmailCallEmailEmailCallCallCallEmailEmail + CallEmailCallEmail + CallEmail + CallEmail + CallEmailCallEmailEmail + CallEmailEmailEmailCallEmail + CallEmailEmailEmailCallEmailEmail + CallEmail + CallEmailEmail + CallEmail + CallEmail + CallEmailCallCallCallEmailCallEmailCallEmailEmailCallCallCallCallEmail + CallEmailCallEmailEmailCallEmailEmailEmailEmailEmailEmailEmailEmailCallCallCallCallEmailEmail + CallEmailEmailEmail + CallEmailCallCallEmailEmailEmailCallEmailEmailEmailCallEmailEmailEmailEmailEmailEmailEmailCallCallCallCallEmail + CallEmail + CallEmailCallEmailCallEmail + CallCallEmailEmailCallEmailEmail + CallEmailEmail + CallEmail + CallCallEmailEmailEmailEmailEmail + CallCallEmailCallEmailCallEmail + CallEmail + CallCallCallCallCallCallEmailEmailEmail + CallEmailEmailCallEmailEmailCallEmail + CallCallEmailEmailCallEmailEmailEmailCallEmailEmailEmailEmail + CallEmail + CallEmailEmailEmailCallCallEmail + CallCallEmailEmailEmail + CallEmailEmailCallEmailCallCallEmail + CallEmailEmail + CallEmailCallEmail + CallEmail + CallEmail + CallEmailEmailCallCallCallEmailEmailEmailEmail + CallEmailEmailCallCallCallEmailEmailEmailCallEmail + CallCallCallEmail + CallEmailEmailCallEmail + CallEmailEmail + CallCallEmailEmail + CallEmailEmailEmailCallCallEmail + CallCallCallCallEmail + CallEmailEmailEmailEmailEmail + CallEmailEmailEmailEmail + CallCallCallCallEmail + CallEmailCallCallEmailEmailEmailCallEmailCallCallEmailEmailEmailEmailEmailCallEmailCallEmailEmailEmailEmailEmail + CallCallEmail + CallEmail + CallEmail + CallEmailEmailEmailEmailCallEmailEmailEmail + CallEmailCallEmailCallEmail + CallCallCallCallEmailEmailCallem + callEmailCallEmail + CallCallEmail + CallEmailEmail + CallEmail + CallEmailEmailEmailEmailEmailEmailEmailEmailEmailEmailEmailEmailEmailEmailCallCallEmail + CallEmail + CallEmailEmail + CallEmail + CallEmailCallEmailEmailCallEmail + CallCallEmailEmail + CallEmailEmailEmail + CallEmail + CallCallEmailEmailCallEmail + CallEmailCallCallCallCallEmailEmailEmailCallEmailEmailEmailEmailEmailCallEmailCallEmailEmail + CallEmailEmailEmailCallEmailEmail + CallEmailCallEmail + CallEmailCallEmail + CallEmailCallEmailCallCallEmailCallEmailEmail + CallCallEmail + CallEmailEmailEmailEmailCallEmailCallEmailCallCallEmailCallCallEmailEmailEmailCallEmailEmailEmailEmailEmail + CallEmailEmail + CallCallEmailCallEmailEmailEmailEmail + CallEmailEmailCallEmailEmailEmailEmailCallCallEmailEmailEmailEmailCallEmailEmailCallCallCallEmailCallCallEmailEmailEmailEmail + CallEmail + CallEmailCallEmailEmailEmailEmailEmail + CallCallEmailEmailCallEmail + CallEmailEmailEmailCallCallEmailEmail + CallCallEmail + CallCallEmailCallEmailCallEmail + CallEmailEmail + CallEmailEmailEmailEmailEmail + CallEmail + CallEmailEmail + CallCallEmail + CallEmail + CallEmailEmailEmailEmail + CallEmail + CallCallEmail + CallEmailEmailEmailEmailEmailCallEmailEmailEmailEmailEmail + CallEmail + CallEmailEmail + CallEmail + CallEmailEmail + CallEmailEmailCallEmailCallEmailCallEmailEmailCallEmailCallEmailEmailCallCallEmail + CallCallCallEmail + CallEmail + CallCallCallEmailEmailCallEmailCallEmailEmailEmail + CallCallEmail + CallEmailEmailEmail + CallCallCallEmail + CallEmailEmail + CallEmail + CallEmailCallEmailCallCallEmailEmailEmailCallEmailEmail + CallEmailCallEmail + CallEmail + CallEmail + CallEmailCallEmailCallCallEmailEmail + CallEmail + CallEmailEmailEmailEmailEmail + CallEmailEmailEmail + CallEmailEmailCallEmailCallCallCallCallEmailEmailEmailEmailEmailEmailEmailEmailEmailEmail + CallEmailEmailEmail + CallCallEmailEmailCallCallCallEmailEmailCallEmailCallEmailCallEmail + CallCallEmailEmailCallEmailCallEmailEmail + CallEmailEmailEmailEmail + CallEmail + CallEmailCallEmailEmailEmail + CallEmail + CallEmailEmailEmailEmailCallEmailEmailEmailEmail + CallCallCallEmailCallCallEmail + CallEmail + CallEmailEmailCallEmail + CallCallEmailEmailCallEmailEmail + CallEmailCallCallCallCallEmail + CallEmailEmail + CallEmailEmail + CallCallCallEmail + CallEmailEmailEmail + CallEmailEmailEmailEmail + CallEmailCallEmail + CallEmailCallEmailCallEmailCallEmail + CallEmailCallCallEmailEmail + CallCallEmailEmailEmail + CallEmail + CallCallEmailCallEmailEmailEmail + CallCallCallem + callCallEmailCallEmailEmail + CallEmailEmailCallCallEmail + CallCallCallEmailCallCallCallCallEmailemailEmailEmail + CallEmailEmail + CallEmailEmail + CallEmail + CallEmailEmailCallEmailEmail + CallEmailEmailEmailCallCallEmailCallEmailEmail + CallEmailCallEmailCallEmailEmailCallEmail + CallEmailEmailEmailCallEmailCallEmailEmail + CallCallEmailEmailCallCallCallEmail + CallEmailEmail + CallEmail + CallEmail + CallEmailEmail + CallCallEmailCallEmailEmail + CallEmailCallEmailCallCallCallEmailCallEmailCallEmail + CallEmail + CallEmail + CallEmailEmailEmailEmail + CallEmailCallCallEmailCallCallEmailCallCallEmailCallEmailEmailEmailCallEmailCallEmailEmailEmailEmailEmailEmail + CallCallEmailEmailEmail + CallEmailEmail + CallEmailCallEmailCallCallEmailEmailCallEmailCallCallEmailEmailCallEmailCallEmailCallCallEmailEmailEmailEmail + CallEmail + CallEmailEmailEmailCallCallCallEmail + CallEmailEmailEmailEmailEmailEmail + CallCallCallCallEmailCallEmailCallCallEmailEmailCallEmailEmailEmailEmailCallEmailCallCallCallCallCallEmailCallEmailCallCallEmailCallEmailCallEmailEmailEmailEmailEmailCallEmailEmailCallEmailCallCallEmail + CallEmail + CallEmailCallEmailEmailEmailEmail + CallEmail + CallCallEmailEmail + CallCallEmailEmail + CallCallEmailEmailCallCallEmailEmail + CallCallEmailCallEmailEmailCallEmailEmail + CallEmailEmailEmailEmailCallEmail + CallCallEmail + CallEmailEmail + CallCallEmail + CallCallEmailEmailEmailEmailEmail + CallCallCallEmail + CallEmailEmailEmailEmailEmailCallEmailEmailCallEmailEmail + CallEmailCallEmailEmailEmail + CallCallCallCallEmail + CallEmailEmailEmailEmailCallEmailEmailEmailCallEmailEmailEmail + CallEmailEmailEmailEmailEmail + CallEmailEmail + CallEmail + CallCallCallEmailEmailEmailEmailCallEmailCallEmailEmail + CallEmailCallCallEmailCallEmailCallCallEmail + CallEmailEmailEmail + CallCallEmailEmailEmailCallCallEmailEmail + CallEmailEmailCallEmailCallCallEmailCallCallEmail + CallEmailEmailEmailEmailEmailEmail + CallEmailCallEmailEmailEmailCallEmailEmailEmailEmailEmail + CallEmailEmailCallEmail + CallEmailCallEmailCallEmail + CallEmailEmail + CallEmailEmailCallEmail + CallEmailEmailEmail + CallCallCallEmailEmailEmailEmailCallEmailEmail + CallEmailEmail + CallCallCallEmailCallEmailCallEmail + CallEmailEmailEmailEmailEmailEmail + CallCallCallEmailEmailEmail + CallEmailCallCallEmailEmail + CallEmailCallEmailEmailEmailEmail + CallCallEmailCallEmailCallCallEmailEmailEmail + CallCallEmailCallCallCallCallCallCallCallEmailEmailEmail + CallEmailEmailEmailEmailEmailEmail + CallCallEmailCallEmail + CallEmail + CallCallEmailCallEmailCallEmailEmailEmailCallEmailEmail + CallEmailCallEmailEmailCallEmailEmail + CallEmailEmailCallEmailEmailEmail + CallCallEmailEmailEmailEmailEmailCallEmail + CallCallCallEmail + CallCallEmailEmailEmailEmailEmailEmail + CallEmailEmailEmailEmailEmailEmailCallEmailCallEmail + CallCallEmailEmail + CallEmailEmailEmailEmailEmailemailEmailEmail + CallCallEmailEmailCallCallEmailEmailCallCallCallEmailEmail + CallCallCallCallCallEmail + CallEmailCallEmailCallEmailEmailEmailCallCallEmailCallEmailCallEmailEmailEmailCallEmailEmailCallEmailEmailEmailEmailEmailEmailCallEmailEmail + CallEmail + CallEmailEmail + CallCallEmailCallEmail + CallEmailEmail + CallCallEmailCallEmail + CallEmail + CallEmailEmailEmail + CallCallEmailEmailCallEmailEmailCallEmailEmailCallCallEmailEmailEmailCallEmailEmailCallCallEmailEmailCallEmailCallEmailEmailCallCallCallEmailCallEmailCallEmail + CallCallEmailEmailEmailEmailEmailCallEmailEmailEmail + CallEmailEmailCallCallEmail + CallCallCallEmail + CallEmailEmailEmailEmailEmail + CallEmailEmailEmailCallEmailCallEmailCallCallEmailEmailEmail + CallCallEmailCallEmailCallCallCallEmailEmailEmailCallEmailEmailEmailEmail + CallEmail + CallCallEmailEmailCallCallEmailEmailEmailCallCallEmailEmailCallEmail + CallEmailEmail + CallEmailEmailCallEmail + CallCallEmail + CallEmailCallCallEmailEmailEmailEmailEmailEmailEmailEmailEmailCallEmailCallEmailEmailEmail + CallEmailCallEmailEmailEmailEmailEmailEmailEmailEmailEmailCallEmailEmailCallCallEmailEmailEmailCallEmailEmailEmail + CallEmailCallEmailEmail + CallCallEmailCallEmailEmail + CallEmailCallEmailCallEmailEmailEmailCallEmailEmailEmailEmailCallCallEmailEmailEmailEmail + CallEmailCallEmailCallEmail + CallEmailEmailEmailCallCallEmailEmailCallCallEmailCallEmailEmail + CallEmail + CallEmail + CallEmailEmailEmailCallCallEmailEmailEmailEmailEmail + CallCallCallEmailEmailEmailEmail + CallCallCallCallEmailEmailCallCallEmail + CallEmailEmailEmail + CallCallEmail + CallEmailEmailEmailCallEmailEmailEmailCallEmail + CallEmailEmailCallCallEmail + CallEmailCallCallEmailCallEmailEmailEmailEmailEmail + CallEmailCallEmailCallEmailEmailCallEmailCallEmailCallEmailEmailEmail + CallCallCallEmailEmail + CallEmailEmailEmailEmail + CallCallEmail + CallEmailCallCallEmail + CallCallEmailEmailEmailEmail + CallEmailCallEmail + CallCallEmail + CallEmailEmailEmailEmailEmailCallEmailCallCallEmailCallCallEmailEmail + CallEmailEmailCallEmailEmail + CallCallEmailEmailCallCallCallEmailEmail + CallEmail + CallCallEmailEmail + CallCallCallCallEmailEmailCallEmailEmailEmailEmail + CallEmailEmailEmailEmailEmailCallEmailEmail + CallEmail + CallEmail + CallEmail + CallCallEmail + CallCallCallEmailEmailCallEmailEmailEmailCallEmailEmailEmailEmailEmailCallCallEmailEmailEmailCallCallCallEmail + CallEmail + CallCallEmailCallCallEmailEmailEmail + CallCallEmailEmailCallCallCallEmailCallEmail + CallEmailEmailEmailEmailEmailEmailEmailEmailEmailEmail + CallEmailEmailEmailEmailEmailEmailEmailCallCallCallCallCallEmailEmailCallEmail + CallCallCallCallEmailEmail + CallEmailEmailEmailEmailEmailEmailEmailEmail + CallCallEmailEmail + CallEmailEmailEmailCallEmailEmailEmail + CallEmail + CallCallEmailEmailEmail + CallEmailEmailEmailEmailEmailEmail + CallEmailCallEmailEmail + CallCallCallEmail + CallCallCallEmail + CallCallEmailCallEmailEmail + CallCallEmailEmailEmailEmailCallCallEmailCallEmail + CallEmailCallEmailEmailEmailEmailEmail + CallCallEmail + CallEmailCallEmail + CallCallCallEmailEmailEmailEmailCallEmailEmailCallEmailEmailEmailCallEmail + CallEmail + CallCallCallEmailCallEmailEmail + CallEmailEmailCallEmail + CallEmailEmailCallCallEmailEmailEmailEmailEmail + CallCallEmailEmailEmailCallEmailCallEmailEmailCallEmailCallEmailEmailEmailEmailEmail + CallCallEmailEmailCallCallEmailEmail + CallEmailCallEmailEmailEmailEmail + CallEmailCallEmailEmailEmail + CallEmail + CallCallEmailEmail + CallCallEmail + CallCallEmailEmailEmailEmailEmailCallCallEmailEmail + CallCallEmailCallEmail + CallEmailEmailEmailCallCallEmailEmail + CallEmailEmailCallEmailEmailCallEmail + CallEmailEmail + CallCallEmailEmailCallEmailEmailEmailCallEmailEmailCallEmailEmailCallCallEmailCallEmail + CallCallEmailEmailCallEmailEmailEmailCallEmailEmail + CallEmailEmail + CallEmailCallCallCallEmailEmailEmailEmail + CallEmailEmailCallCallEmailCallCallEmailCallEmail + CallCallEmailEmailEmailCallEmail + CallCallEmailEmail + CallEmailEmailEmail + CallCallEmailCallEmail + CallEmailEmail + CallCallEmailEmailEmailEmailEmailCallEmailEmailCallEmailEmailEmail + CallEmailCallCallCallCallEmail + CallCallEmailEmail + CallCallCallEmailEmailEmailEmail + CallCallCallEmailCallEmailCallEmail + CallEmailCallEmail + CallEmail + CallEmailCallEmailCallCallCallEmailCallEmailCallEmail + CallEmailEmailCallEmailEmailEmailEmail + CallCallEmailCallEmailEmailCallCallEmailEmailEmailEmailCallEmailEmailCallEmailEmailCallCallEmail + CallEmailEmailEmailEmailCallEmail + CallCallCallCallEmail + CallEmail + CallCallCallEmailEmailEmailEmailEmailCallCallEmail + CallCallEmailEmail + CallEmailEmailEmail + CallCallEmailCallEmailEmailEmailEmail + CallEmailEmailCallCallEmailCallEmailCallEmailCallEmailEmailCallEmailCallEmailEmailEmailEmailEmailEmailEmailCallCallEmailCallEmailCallEmailCallEmailEmailCallEmailCallEmailEmailEmailEmail + CallCallEmailCallCallEmail + CallCallCallCallEmail + CallEmailEmailEmailEmailEmailEmailEmailEmailCallEmailEmail + CallEmailCallCallEmailCallEmail + CallEmail + CallEmailCallCallEmailCallEmailEmailEmailCallEmailEmailEmailEmailEmail + CallEmailCallEmail + CallEmailEmailEmailEmailEmail + CallEmailCallEmail + CallCallEmailEmailCallCallEmailEmailCallEmailEmail + CallEmailEmail + CallEmailEmailCallCallEmailCallCallEmailEmailCallCallEmailEmail + CallEmail + CallEmail + CallEmail + CallEmailEmail + CallEmail + CallEmailEmailCallEmailEmailEmailEmailCallEmail + CallCallEmailEmailEmailEmail + CallEmailEmailCallCallEmail + CallEmailEmail + CallCallEmailCallEmailCallEmail + CallEmailEmailEmailEmail + CallCallCallEmailEmail + CallEmailEmail + CallEmailCallEmailCallCallEmailEmailEmail + CallEmailEmailEmailEmailEmailEmailCallEmail + CallEmail + CallEmailCallEmailCallCallEmailCallEmail + CallEmailEmailEmailEmailCallEmail + CallCallEmail + CallEmailEmail + CallCallEmailEmailEmail + CallCallCallEmailEmailEmail + CallEmailEmailCallEmailEmailEmail + CallCallEmail + CallEmail + CallCallEmailEmailCallEmailCallEmailEmail + CallCallEmailEmail + CallEmailCallEmailCallCallEmailEmailEmailCallEmailEmail + CallEmailEmailEmail + CallEmailEmailEmailEmail + CallCallEmail + CallEmail + CallCallEmailCallEmail + CallEmailCallEmail + CallCallEmailEmailEmail + CallEmailEmailEmailEmailCallEmailEmailEmailEmailEmailCallCallCallEmailEmailEmailEmail + CallCallEmailEmail + CallEmailEmailCallCallEmailCallEmailEmailEmailEmail + CallEmail + CallEmailEmailEmail + CallCallEmailCallEmail + CallCallCallEmailEmailCallEmailEmail + CallCallEmailEmailEmailCallEmailCallCallCallEmailCallEmail + CallEmailEmail + CallEmailCallEmailCallEmail + CallEmail + CallEmailEmail + CallEmailEmailEmailCallEmailEmailCallCallCallEmailEmailEmailEmail + CallEmailCallEmailCallEmailEmail + CallEmailEmailCallEmailEmailEmailCallCallEmailEmailEmail + CallEmailEmailEmailEmailEmailCallEmailEmailEmailCallEmail + CallEmailCallEmailEmail + CallCallEmail + CallEmailEmail + CallEmail + CallEmailEmailCallCallEmail + CallEmail + CallEmailEmailEmail + CallEmailCallCallEmailEmailCallCallEmailEmailEmailCallE

In [ ]:
data1.groupby(["sales_method","week"]
              )[["revenue","nb_sold"]].agg(["mean","sum","max"])

                      revenue                       nb_sold
                         mean        sum     max       mean    sum max
sales_method week
Call         1      35.350243   26159.18   40.47   7.079156   5366   8
             2      43.602606   33792.02   50.19   8.804969   7088  10
             3      41.759528   36247.27   50.66   8.266075   7456  10
             4      51.446048   49593.99   57.74  10.207960  10259  12
             5      53.146087   53518.11   58.01  10.659962  11129  12
             6      66.166089   28252.92   71.36  13.145089   5889  14
Email        1      87.495976  229589.44  112.88   8.729115  24555  11
             2     100.139121  137891.57  124.24  10.061953  14942  12
             3      92.764882   98609.07  117.46   9.285714  10660  12
             4     108.878947  107572.40  137.65  10.916900  11692  14
             5     108.887859   74261.52  135.43  10.924528   8106  14
             6     130.976519   23706.75  148.97  13.111675   2583  15
Email + Call 1     128.917769   16759.31  136.36   8.659864   1273   9
             2     154.256588   26223.62  164.14  10.080402   2006  11
             3     150.440872   48291.52  159.55  10.011236   3564  11
             4     180.857283   77226.06  192.09  12.040984   5876  13
             5     187.608051  125134.57  198.32  12.476804   9682  13
             6     227.770635  111152.07  238.32  15.053173   8776  16
em + call    1     126.020000     126.02  126.02   8.000000      8   8
             2     152.610000     152.61  152.61  10.000000     10  10
             3     148.540000     445.62  150.47  10.000000     30  10
             4     178.356667    1070.14  181.52  12.000000     84  12
             5     186.127778    1675.15  190.90  12.272727    135  13
email        1      88.055000     176.11   95.39   9.000000     18  10
             2            NaN       0.00     NaN  10.000000     10  10
             3      91.535000     183.07   92.19   9.000000     18   9
             4     107.985000     215.97  109.72  11.000000     44  11
             5     111.930000     111.93  111.93  11.000000     11  11

In [96]:
data1.groupby(["sales_method","week"]
              ).agg(
                  avg_rev=("revenue","mean"),
                  min_nb_sold=("nb_sold","min"),
                  no_state=("state","count")
              )

                      avg_rev  min_nb_sold  no_state
sales_method week
Call         1      35.350243          7.0       758
             2      43.602606          8.0       805
             3      41.759528          8.0       902
             4      51.446048         10.0      1005
             5      53.146087         10.0      1044
             6      66.166089         13.0       448
Email        1      87.496401          8.0      2815
             2     100.139121          9.0      1486
             3      92.762573          8.0      1150
             4     108.877141         10.0      1075
             5     108.892313         10.0       743
             6     130.976519         12.0       197
Email + Call 1     128.895649          8.0       148
             2     154.246959         10.0       200
             3     150.423272         10.0       359
             4     180.822633         12.0       495
             5     187.588343         12.0       787
             6     227.770635         15.0       583

In [76]:
data1

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
0,2,Email,2e72d641-95ac-497b-bbf8-4861764a7097,10,NaN,0,24,Arizona
1,6,Email + Call,3998a98d-70f5-44f7-942e-789bb8ad2fe7,15,225.47,1,28,Kansas
2,5,Call,d1de9884-8059-4065-b10f-86eef57e4a44,11,52.55,6,26,Wisconsin
3,4,Email,78aa75a4-ffeb-4817-b1d0-2f030783c5d7,11,NaN,3,25,Indiana
4,3,Email,10e6d446-10a5-42e5-8210-1b5438f70922,9,90.49,0,28,Illinois
...,...,...,...,...,...,...,...,...
14995,4,Call,17267b41-d048-4346-8b90-7f787690a836,10,50.82,0,22,Pennsylvania
14996,5,Call,09e10d6f-4508-4b27-895e-4db11ce8302b,10,52.33,1,27,Kansas
14997,1,Call,839653cb-68c9-48cb-a097-0a5a3b2b298b,7,34.87,4,22,West Virginia
14998,6,Call,e4dad70a-b23b-407c-8bd3-e32ea00fae17,13,64.90,2,27,New Jersey
14999,5,Email + Call,4e077235-7c17-4054-9997-7a890336a214,13,NaN,4,25,Illinois

In [100]:
# crosstabulation
pd.crosstab(data1["week"],
            data1["sales_method"],
            normalize=False,
            margins=True)

sales_method  Call  Email  Email + Call    All
week
1              758   2815           148   3721
2              805   1486           200   2491
3              902   1150           359   2411
4             1005   1075           495   2575
5             1044    743           787   2574
6              448    197           583   1228
All           4962   7466          2572  15000